<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main-content" *ngIf="!isHistoricalView">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="page-heading">
          <h4 class="pt-3">KPIs Dashboard</h4>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 mb-lg-0 mb-sm-0 mb-2 px-2" *ngIf="showStats">
        <div class="all-section">
          <div class="row cursor_pointer" (click)="filterByStatus('')">
            <div class="d-flex align-self-center">
              <div class="col-4">
                <img src="assets/img/future.svg">
              </div>
              <div class="col-5 p-0">
                <h5>All KPIs</h5>
              </div>
              <div class="col-3">
                <p>{{ stats?.All }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 mb-lg-0 mb-sm-0 mb-2 px-2" *ngIf="showStats">
        <div class="all-section">
          <div class="row cursor_pointer" (click)="filterByStatus('in_progress')">
            <div class="d-flex align-self-center">
              <div class="col-4">
                <img src="assets/img/current.svg">
              </div>
              <div class="col-5 p-0">
                <h5 class="text-nowrap">In Progress</h5>
              </div>
              <div class="col-3">
                <p>{{ stats?.InProgress }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 px-2" *ngIf="showStats">
        <div class="all-section">
          <div class="row cursor_pointer" (click)="filterByStatus('completed')">
            <div class="d-flex align-self-center">
              <div class="col-4">
                <img src="assets/img/past.svg">
              </div>
              <div class="col-5 p-0">
                <h5>Completed</h5>
              </div>
              <div class="col-3">
                <p class="">{{ stats?.Completed }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 ml-auto">
        <div class="search-bar">
          <form action="" class="search-form">
            <div class="form-group search-filed m-0">
              <input type="text" class="form-control" name="search" [(ngModel)]="search_text" id="search"
                placeholder="Search..." (keyup)="search()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-x-lg cursor_pointer" viewBox="0 0 16 16" *ngIf="search_text" (click)="clearSearch()">
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
              </svg>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row mt-4 my_kpi">
      <div class="col-lg-12">
        <div class="KPI-dash-tab">
          <a class="export_kpis_icon" role="button" aria-haspopup="true" aria-expanded="false" title="Export"
            data-target="#importExportModal" data-toggle="modal" *ngIf="kpiType === 'assigned'" [hidden]="sortMonth">
            <img src="assets/img/download-icon.svg">
          </a>
          <div class="dropdown sort-drop">
            <button type="button" class="history_btn" (click)="showHistory()" *ngIf="kpiType === 'assigned'">History</button>
            <select  (change)="onSortByMonth()" [(ngModel)]="sortMonth" class="form-select form-select-lg short-dropdown-custom sort_dropdown mr-2" *ngIf="kpiType === 'assigned'">
              <option value="" selected>All</option>
              <option *ngFor="let month of sortByMonths" [value]="month.value">{{ month?.name }} ({{ currentYear }})</option>
            </select>
            <select #id (change)="onSortBy(id.value)" class="form-select form-select-lg short-dropdown-custom sort_dropdown">
              <option hidden>Sort by</option>
              <option value="worst">Worst to Best Performing</option>
              <option value="best">Best to Worst Performing</option>
              <option value="oldest">Oldest to Newest</option>
              <option value="newest">Newest to Oldest</option>
            </select>
          </div>

          <!-- KPI Tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item nav-item-cus" id="tab_1" (click)="onTabSwitch('assigned')" *ngIf="_commonService.getUserLicense() !== 'Spectator' && _commonService.getUserRole() !== 'billing_staff'">
              <a class="nav-link nav-link-cus pl-0 active" data-toggle="tab" href="#tabs-1"
                role="tab">Assigned to me</a>
            </li>
            <li class="nav-item nav-item-cus" id="kpi_tab_2" (click)="onTabSwitch('all')">
              <a class="nav-link nav-link-cus pl-0" data-toggle="tab" href="#tabs-2" role="tab">All KPIs</a>
            </li>
          </ul>


          <!-- Tab panes -->
          <div class="tab-content tab-content-cus">
            <!-- ASSIGNED TAB -->
            <div class="tab-pane p-3 active" id="tabs-1" role="tabpanel">
              <div class="row">
                <div class="col-lg-12">
                  <div class="KPI-custom-table">
                    <table class="table">
                      <thead class="border-thead">
                        <tr>
                          <th scope="col" *ngFor="let column of headerList; let i=index">
                            <div class="d-flex">
                              <input type="checkbox" name="masterCheck" id="master_check" [(ngModel)]="masterCheck" *ngIf="i === 0" (change)="checkUncheckAll($event)">
                              <span class="cursor_pointer text-nowrap" (click)="onSortClick(column.sortBy, i)">
                                <ng-container [ngSwitch]="column.sort">
                                  <!-- Ascending - Arrow down -->
                                  <img src="assets/img/arrow-down.svg" *ngSwitchCase="'ascending'">
                                  <!-- Descending - Arrow up -->
                                  <img src="assets/img/Up-arrow.svg" *ngSwitchCase="'descending'">
                                  <!-- Default - Arrow down up -->
                                  <img src="assets/img/arrow-down-up.svg" *ngSwitchDefault>
                                </ng-container>
                                {{ column.name }}
                              </span>
                              <!-- FILTERS STARTS-->
                              <ng-container *ngIf="column.filter">
                                <span>
                                  <!-- Filter div starts-->
                                  <div class="dropdown filter-option">
                                    <!-- Karta creator filter -->
                                    <ng-container *ngIf="i === 0">
                                      <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                      id="creatorDropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                      <img src="assets/img/funnel.svg">
                                      </button>
                                      <!-- Filter dropdown -->
                                      <div class="dropdown-menu karta-filter" aria-labelledby="creatorDropdownMenuButton">
                                        <div class="main">
                                          <input class="form-control mr-2 ml-2" id="searchInput" placeholder="Search"
                                            aria-label="Search" [(ngModel)]="searchText">
                                          <span class="fa fa-search form-control-icon"></span>
                                        </div>
                                        <div class="row pb-2" *ngFor="let creator of creators | filter : searchText">
                                          <div class="col-6">
                                            <h6 class="pl-2 m-0 pt-1" class="short_text">{{ creator?.fullName }}</h6>
                                          </div>
                                          <div class="col-6 text-right">
                                            <div class="form-check custom-box mr-2">
                                              <input type="checkbox" class="form-check-input kpi_creator_checkbox" id="exampleCheck"
                                                (click)="onKpiSelect( $event, creator.id)">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </ng-container>

                                    <!-- Target filter-->
                                    <ng-container *ngIf="i === 2">
                                      <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                      id="targetDropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                      <img src="assets/img/funnel.svg">
                                      </button>
                                      <!-- Filter dropdown -->
                                      <div class="dropdown-menu select-sec" aria-labelledby="targetDropdownMenuButton">
                                        <div *ngFor="let targets of targetTypesList;">
                                          <div class="row pb-2">
                                            <div class="col-6">
                                              <h6 class="pl-2 m-0 pt-1">{{ targets.name }}</h6>
                                            </div>
                                            <div class="col-6 text-right">
                                              <div class="form-check custom-box mr-2">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                                  [(ngModel)]="targets.selected"
                                                  (change)="onTargetSelect($event, targets.value)">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </ng-container>

                                    <!-- Last edited filter-->
                                    <ng-container *ngIf="i === 4">
                                      <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                      id="lastEditedDropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                      <img src="assets/img/funnel.svg">
                                      </button>
                                      <!-- Filter dropdown -->
                                      <div class="dropdown-menu select-last-edit" aria-labelledby="lastEditedDropdownMenuButton">
                                        <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group mb-3 d-flex">
                                          <input class="form-control" id="form-control-last-date"
                                            placeholder="Select Date Range" [(ngModel)]="lastEditSelectedDates"
                                            bsDaterangepicker (ngModelChange)="onDateChange($event)" [maxDate]="maxDate">
                                          <button type="button" class="btn btn-outline-danger btn-sm ml-2"
                                            (click)="resetDates()">Clear</button>
                                        </div>
                                      </div>
                                    </ng-container>

                                    <!-- Due date filter-->
                                    <ng-container *ngIf="i === 5">
                                      <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                      id="lastEditedDropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                      <img src="assets/img/funnel.svg">
                                      </button>
                                      <!-- Filter dropdown -->
                                      <div class="dropdown-menu select-last-edit" aria-labelledby="lastEditedDropdownMenuButton">
                                        <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group mb-3 d-flex">
                                          <input class="form-control" id="form-control-last-date"
                                            placeholder="Select Date Range" [(ngModel)]="dueDateSelectedDates"
                                            bsDaterangepicker (ngModelChange)="onDueDateChange($event)">
                                          <button type="button" class="btn btn-outline-danger btn-sm ml-2"
                                            (click)="resetDates()">Clear</button>
                                        </div>
                                      </div>
                                    </ng-container>

                                    <!-- Percentag completion filter-->
                                    <ng-container *ngIf="i === 7">
                                      <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                      id="competionDropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                      <img src="assets/img/funnel.svg">
                                      </button>
                                      <!-- Filter dropdown -->
                                      <div class="dropdown-menu select-sec" aria-labelledby="competionDropdownMenuButton">
                                        <div *ngFor="let percent of percentageList;">
                                          <div class="row pb-2">
                                            <div class="col-8">
                                              <h6 class="pl-2 m-0 pt-1">{{ percent.name }}</h6>
                                            </div>
                                            <div class="col-4 text-right">
                                              <div class="form-check custom-box mr-2">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                                  [(ngModel)]="percent.selected"
                                                  (change)="onPercentSelect($event, percent.value)">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </ng-container>
                                  </div>
                                  <!-- Filter div ends-->
                                </span>
                              </ng-container>
                              <!-- FILTERs ENDS -->
                            </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="border-0">
                        <tr *ngFor="let kpi of kpis; let i = index;">
                          <td>
                            <input type="checkbox" [name]="i" [id]="i" [checked]="kpi.isSelected" (change)="checkUncheckSingleItem($event, i, kpi._id)">
                            <a class="short_text_with_width view_karta_link"
                              [routerLink]="['/karta/view', kpi?.karta?._id]" target="_blank">
                              {{ kpi?.karta?.name }}
                            </a>
                            <p class="user-name-iocn short_text_with_width">
                              <img src="assets/img/User.svg">
                              {{ kpi?.karta?.user?.fullName }}
                            </p>
                          </td>
                          <td class="max_width_200 short_text" [id]="kpi?._id">{{ kpi?.name }}</td>
                          <td>
                            <span>{{ kpi?.target[0]?.value }}/{{ kpi?.target[0].frequency.slice(0, -2) }}</span>
                          </td>
                          <td>
                            <div class="editacval">
                              {{ kpi?.achieved_value }}
                              <ng-container *ngIf="kpi.target[0].value > 0; else disableIcon">
                                <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!sortMonth" (click)="editActualValue(kpis[i])" width="16"
                                  height="12" fill="currentColor" class="bi bi-pencil cursor_pointer"
                                  viewBox="0 0 16 16" data-toggle="modal" data-target="#editActualValueModal">
                                  <path
                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                </svg>
                              </ng-container>
                              <ng-template #disableIcon>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" fill="currentColor"
                                  class="bi bi-pencil" viewBox="0 0 16 16" *ngIf="!sortMonth">
                                  <title>Target is not defined yet!</title>
                                  <path
                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                </svg>
                              </ng-template>
                            </div>
                          </td>
                          <td>
                            {{ kpi?.updatedAt | date }}
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" title="Audit Trail"
                            *ngIf="!sortMonth" (click)="getAuditTrail(kpis[i])" class="cursor_pointer" data-toggle="modal" data-target="#auditTrailModal">
                              <path d="M5.02828 5.57202C5.78363 4.75703 6.70808 4.1171 7.73685 3.69709C10.4591 3.00565 11.8263 3.16151 14.2107 5.14327C14.8417 5.71804 15.3534 6.41149 15.7165 7.18401C16.0796 7.95653 16.287 8.793 16.3268 9.64566C16.4072 11.3677 15.8002 13.0511 14.6394 14.3257M9.70192 7.12349L9.49717 10.3185L11.7151 12.3386" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M12.7136 15.8176C12.1857 16.0735 11.6247 16.2545 11.0469 16.3555M8.46181 16.3275C7.82604 16.1887 7.21562 15.9521 6.65229 15.6263M3.61188 11.9103C3.80941 12.5304 4.10182 13.1161 4.4787 13.6466" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M4.06515 6.80162L4.00324 4.13953C4.00147 4.063 4.06302 4 4.13957 4H4.95455C5.02986 4 5.09091 4.06105 5.09091 4.13636V5.84553C5.09091 5.91901 5.14913 5.97928 5.22257 5.98181L6.93652 6.04091C7.00996 6.04345 7.06818 6.10371 7.06818 6.1772V6.8605C7.06818 6.93703 7.00522 6.99857 6.92872 6.99683L4.19838 6.93478C4.12553 6.93312 4.06685 6.87447 4.06515 6.80162Z" fill="black" stroke="black" stroke-width="0.136364"/>
                            </svg>                              
                          </td>
                          <td>{{ kpi.due_date ? (kpi.due_date | date) : 'N/A' }}</td>
                          <td>
                            <ng-container *ngIf="(kpi?.target[0]?.value > kpi?.achieved_value) && kpi?.start_date">
                              <img src="assets/img/Refresh.svg">
                              <span>
                                {{ kpi?.dueDays >= 0 ? kpi?.dueDays + ' Days left' : -kpi?.dueDays + ' Days overdue' }}
                              </span>
                            </ng-container>
                            <ng-container *ngIf="(kpi?.target[0]?.value <= kpi?.achieved_value) && kpi?.start_date">
                              <img src="assets/img/Refresh.svg">
                              <span>
                                {{ (kpi?.dueDays && kpi?.dueDays > 0) ? (kpi?.dueDays  + ' Days Early') : 'Completed' }}
                              </span>
                            </ng-container>
                            <ng-container *ngIf="!kpi?.start_date">
                              N/A
                            </ng-container>
                          </td>
                          <td>
                            <div class="container px-0">
                              <ng-container *ngIf="kpi?.target[0]?.percentage >= 101; else second">
                                <div class="progress">
                                    <div class="progress-bar" style="border-radius: unset; width:100%;"
                                      aria-valuemin="0" aria-valuemax="0" role="progressbar"
                                      [ngStyle]="{'background-color':getNodePercentageColor(kpi?.target[0]?.percentage)}">
                                      {{ kpi?.target[0]?.percentage > 100 ? kpi?.target[0]?.percentage + '%' : '' }}
                                    </div>
                                </div>
                              </ng-container>
                              <ng-template #second>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar"
                                    [ngStyle]="{'background-color':getNodePercentageColor(kpi?.target[0]?.percentage)}"
                                    [style.width]="kpi?.target[0]?.percentage || 0 + '%'" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100">{{ kpi?.target[0]?.percentage || 0 + '%' }}</div>
                                </div>
                              </ng-template>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <ng-container *ngIf="loading">
                      <div [innerHtml]="loader"></div>
                    </ng-container>
                    <ng-container *ngIf="!loading && kpis.length === 0">
                      <div [innerHtml]="noDataAvailable"></div>
                    </ng-container>
                    <div class="text-center" *ngIf="!loading && totalAssignedKPIs > kpis.length">
                      <p class="view_more" (click)="viewMore()">View More..</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- All TAB -->
            <div class="tab-pane p-3" id="tabs-2" role="tabpanel">
              <div class="row">
                <div class="col-lg-12">
                  <div class="KPI-custom-table">
                    <table class="table">
                      <thead class="border-thead">
                        <tr>
                          <th scope="col" *ngFor="let column of headerList2; let i=index">
                            <div class="d-flex">
                              <span class="cursor_pointer text-nowrap" (click)="onSortClick(column.sortBy, i)">
                                <ng-container [ngSwitch]="column.sort">
                                  <!-- Ascending - Arrow down -->
                                  <img src="assets/img/arrow-down.svg" *ngSwitchCase="'ascending'">
                                  <!-- Descending - Arrow up -->
                                  <img src="assets/img/Up-arrow.svg" *ngSwitchCase="'descending'">
                                  <!-- Default - Arrow down up -->
                                  <img src="assets/img/arrow-down-up.svg" *ngSwitchDefault>
                                </ng-container>
                                {{ column.name }}
                              </span>
                              <!-- FILTERS STARTS-->
                              <ng-container *ngIf="column.filter">
                                <span>
                                  <!-- Filter div starts-->
                                  <div class="dropdown filter-option">
                                    <!-- Karta creator filter -->
                                    <ng-container *ngIf="i === 0">
                                      <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                      id="creatorDropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                      <img src="assets/img/funnel.svg">
                                      </button>
                                      <!-- Filter dropdown -->
                                      <div class="dropdown-menu karta-filter" aria-labelledby="creatorDropdownMenuButton">
                                        <div class="main">
                                          <input class="form-control mr-2 ml-2" id="searchInput" placeholder="Search"
                                            aria-label="Search" [(ngModel)]="searchText">
                                          <span class="fa fa-search form-control-icon"></span>
                                        </div>
                                        <div class="row pb-2" *ngFor="let creator of creators | filter : searchText">
                                          <div class="col-6">
                                            <h6 class="pl-2 m-0 pt-1" class="short_text">{{ creator?.fullName }}</h6>
                                          </div>
                                          <div class="col-6 text-right">
                                            <div class="form-check custom-box mr-2">
                                              <input type="checkbox" class="form-check-input kpi_creator_checkbox" id="exampleCheck1"
                                                (click)="onKpiSelect( $event, creator.id)">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </ng-container>

                                    <!-- Target filter-->
                                    <ng-container *ngIf="i === 2">
                                      <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                      id="targetDropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                      <img src="assets/img/funnel.svg">
                                      </button>
                                      <!-- Filter dropdown -->
                                      <div class="dropdown-menu select-sec" aria-labelledby="targetDropdownMenuButton">
                                        <div *ngFor="let targets of targetTypesList;">
                                          <div class="row pb-2">
                                            <div class="col-6">
                                              <h6 class="pl-2 m-0 pt-1">{{ targets.name }}</h6>
                                            </div>
                                            <div class="col-6 text-right">
                                              <div class="form-check custom-box mr-2">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                                  [(ngModel)]="targets.selected"
                                                  (change)="onTargetSelect($event, targets.value)">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </ng-container>

                                    <!-- Last edited filter-->
                                    <ng-container *ngIf="i === 4">
                                      <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                      id="lastEditedDropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                      <img src="assets/img/funnel.svg">
                                      </button>
                                      <!-- Filter dropdown -->
                                      <div class="dropdown-menu select-last-edit" aria-labelledby="lastEditedDropdownMenuButton">
                                        <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group mb-3 d-flex">
                                          <input class="form-control" id="form-control-last-date"
                                            placeholder="Daterangepicker" [(ngModel)]="lastEditSelectedDates"
                                            bsDaterangepicker (ngModelChange)="onDateChange($event)" [maxDate]="maxDate">
                                          <button type="button" class="btn btn-outline-danger btn-sm ml-2"
                                            (click)="resetDates()">Clear</button>
                                        </div>
                                      </div>
                                    </ng-container>

                                    <!-- Percentag completion filter-->
                                    <ng-container *ngIf="i === 7">
                                      <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                      id="competionDropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                      <img src="assets/img/funnel.svg">
                                      </button>
                                      <!-- Filter dropdown -->
                                      <div class="dropdown-menu select-sec" aria-labelledby="competionDropdownMenuButton">
                                        <div *ngFor="let percent of percentageList;">
                                          <div class="row pb-2">
                                            <div class="col-8">
                                              <h6 class="pl-2 m-0 pt-1">{{ percent.name }}</h6>
                                            </div>
                                            <div class="col-4 text-right">
                                              <div class="form-check custom-box mr-2">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                                  [(ngModel)]="percent.selected"
                                                  (change)="onPercentSelect($event, percent.value)">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </ng-container>
                                  </div>
                                  <!-- Filter div ends-->
                                </span>
                              </ng-container>
                              <!-- FILTERs ENDS -->
                            </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="border-0">
                        <tr *ngFor="let kpi of kpis; let i = index;">
                          <td>
                            <a class="short_text_with_width view_karta_link"
                              [routerLink]="['/karta/view', kpi?.karta?._id]" target="_blank">
                              {{ kpi?.karta?.name }}
                            </a>
                            <p class="user-name-iocn short_text_with_width">
                              <img src="assets/img/User.svg">
                              {{ kpi?.karta?.user?.fullName }}
                            </p>
                          </td>
                          <td class="max_width_200 short_text" [id]="kpi?._id">{{ kpi?.name }}</td>
                          <td>
                            <span>{{ kpi?.target[0]?.value }}/{{ kpi?.target[0].frequency.slice(0, -2) }}</span>
                          </td>
                          <td>{{ kpi?.achieved_value }}</td>
                          <td class="max_width_200 short_text">{{ kpi?.contributor?.fullName || 'N/A' }}</td>
                          <td>{{ kpi?.updatedAt | date }}</td>
                          <td>{{ kpi.due_date ? (kpi.due_date | date) : 'N/A' }}</td>
                          <td>
                            <ng-container *ngIf="(kpi?.target[0]?.value > kpi?.achieved_value) && kpi?.start_date">
                              <img src="assets/img/Refresh.svg">
                              <!-- <span [style.color]="calculateDueDays(kpi?.start_date, kpi?.due_date) >= 0 ? '' : '#dc3545'"> -->
                              <span>
                                {{ kpi?.dueDays >= 0 ? kpi?.dueDays + ' Days left' : -kpi?.dueDays + ' Days overdue' }}
                              </span>
                            </ng-container>
                            <ng-container *ngIf="(kpi?.target[0]?.value <= kpi?.achieved_value) && kpi?.start_date">
                              <img src="assets/img/Refresh.svg">
                              <span>
                                {{ (kpi?.dueDays && kpi?.dueDays > 0) ? (kpi?.dueDays  + ' Days Early') : 'Completed' }}
                              </span>
                            </ng-container>
                            <ng-container *ngIf="!kpi?.start_date">
                              N/A
                            </ng-container>
                          </td>
                          <td>
                            <ng-container *ngIf="kpi?.target[0]?.percentage >= 101 ;else second">
                              <div class="container" style="padding-left:0px; padding-right:0px;">
                                <div class="progress">
                                  <!-- <div class="progress" style="width:70%; border-radius: 0px; ">
                                    <div class="progress-bar" style="border-radius: 0px;" aria-valuenow="20"
                                      aria-valuemin="0" aria-valuemax="100" role="progressbar"
                                      [ngStyle]="{'background-color':getNodePercentageColor(kpi?.target[0]?.percentage)}"
                                      [style.width]="kpi?.target[0]?.percentage + '%'">
                                      {{ kpi?.target[0]?.percentage > 100 ? '' : kpi?.target[0]?.percentage + '%' }}
                                    </div>
                                  </div>
                                  <div class="progress" style="width:2%; border-radius: 0px"></div>
                                  <div class="progress" style="width:28%; border-radius: 0px">
                                    <div class="progress-bar" style="border-radius: unset; width:100%;"
                                      aria-valuemin="0" aria-valuemax="0" role="progressbar"
                                      [ngStyle]="{'background-color':getNodePercentageColor(kpi?.target[0]?.percentage)}">
                                      {{ kpi?.target[0]?.percentage > 100 ? (kpi?.target[0]?.percentage | number : '1.1-1') + '%' : '' }}
                                    </div>
                                  </div> -->
                                    <div class="progress-bar" style="border-radius: unset; width:100%;"
                                      aria-valuemin="0" aria-valuemax="0" role="progressbar"
                                      [ngStyle]="{'background-color':getNodePercentageColor(kpi?.target[0]?.percentage)}">
                                      {{ kpi?.target[0]?.percentage > 100 ? kpi?.target[0]?.percentage + '%' : '' }}
                                    </div>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #second>
                              <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                  [ngStyle]="{'background-color':getNodePercentageColor(kpi?.target[0]?.percentage)}"
                                  [style.width]="kpi?.target[0]?.percentage || 0 + '%'" aria-valuenow="25" aria-valuemin="0"
                                  aria-valuemax="100">{{ kpi?.target[0]?.percentage || 0 + '%' }}</div>
                              </div>
                            </ng-template>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <ng-container *ngIf="loading">
                      <div [innerHtml]="loader"></div>
                    </ng-container>
                    <ng-container *ngIf="!loading && kpis.length === 0">
                      <div [innerHtml]="noDataAvailable"></div>
                    </ng-container>
                    <div class="text-center" *ngIf="!loading && totalAssignedKPIs > kpis.length">
                      <p class="view_more" (click)="viewMore()">View More..</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-historical-view *ngIf="isHistoricalView" [selectedKpis]="historyKpis" (hideHistoricalView)="hideHistory()"></app-historical-view>




<!-- Edit actual value modal -->
<div class="modal fade" id="editActualValueModal" tabindex="-1" role="dialog" data-backdrop="static"
  data-keyboard="false" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h5 class="modal-title pt-0" id="editActualValueLabel">Update Actual Value</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ng-container *ngIf="metricFlag; else measure">
        <div class="modal-body">
          <form [formGroup]="metricsForm" (ngSubmit)="onMetricsSubmit()">
            <div class="row">
              <div class="col-lg-8">
                <h5 class="short_text max_width_500 line_height_1_3">
                  {{editingNode?.karta?.name}}: {{editingNode?.name}}
                </h5>
                <h6 class="short_text_metrics_formula max_width_500">
                  {{metricsFormula}} = {{acheivedValueMetrics}}
                </h6>
              </div>
              <div class="col-lg-4">
                <label class="font-weight-bold">Select Month</label>
                <select formControlName="pastMonth" class="form-control">
                  <option *ngFor="let month of pastMonths" [value]="month.value">{{ month?.name }} ({{ currentYear }})</option>
                </select>
              </div>
            </div>
            <div class="achieved_val" formArrayName="fields">
              <div class="mt-3" *ngFor="let field of fields.controls; let i = index" [formGroupName]="i">
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="">
                        <label class="font-weight-bold">{{field.value.fieldName}}</label>
                        <input type="text" id="fieldValue" class="form-control" formControlName="fieldValue" [maxlength]="15"
                          [ngClass]="{ 'is-invalid': (submitted || field.get('fieldValue')?.touched) && field.get('fieldValue')?.errors }">
                        <div
                          *ngIf="(submitted || field.get('fieldValue')?.touched) && field.get('fieldValue')?.errors"
                          class="invalid-feedback">
                          <div *ngIf="field.get('fieldValue')?.hasError('required')">{{field.value.fieldName}} value
                            is
                            required!</div>
                          <div *ngIf="field.get('fieldValue')?.hasError('pattern')">Value should be a positive number!
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- </ng-template> -->
            <div style="border-color: unset;" data-dismiss="" aria-label="">
              <span aria-hidden="true">
                <button type="submit" class="send-btn" [disabled]="metricsSubmitFlag">
                  <div class="spinner-border text-light align-top" role="status" *ngIf="metricsSubmitFlag">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <ng-container *ngIf="!metricsSubmitFlag">Save</ng-container>
                </button>
              </span>
            </div>
          </form>
        </div>
      </ng-container>
      <ng-template #measure>
        <div class="modal-body">
          <form [formGroup]="measureForm" (ngSubmit)="onMeasureSubmit()">
            <div class="mt-3">
              <div class="form-group">
                <h5 class="short_text max_width_500">{{editingNode?.karta?.name}}: {{editingNode?.name}}
                </h5>
                <div class="row">
                  <div class="col-lg-8">
                    <div class="">
                      <label for="actualValue" class="font-weight-bold">Actual Value</label>
                      <input type="text" id="actualValue" class="form-control" formControlName="actualValue" [maxlength]="15"
                        [ngClass]="{ 'is-invalid': (submittedMeasure || form.actualValue.touched) && form.actualValue.errors }">
                      <div *ngIf="(submittedMeasure || form.actualValue.touched) && form.actualValue.errors"
                        class="invalid-feedback">
                        <div *ngIf="form.actualValue.hasError('required')">Actual value is required!</div>
                        <div *ngIf="form.actualValue.hasError('pattern')">Actual value should be a positive number!
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="">
                      <label class="font-weight-bold">Select Month</label>
                      <select formControlName="pastMonth" class="form-control">
                        <option *ngFor="let month of pastMonths" [value]="month.value">{{ month?.name }} ({{ currentYear }})</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="border-color: unset;" data-dismiss="" aria-label="">
              <span aria-hidden="true">
                <button type="submit" class="send-btn" [disabled]="measureSubmitFlag">
                  <div class="spinner-border text-light align-top" role="status" *ngIf="measureSubmitFlag">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <ng-container *ngIf="!measureSubmitFlag">Save</ng-container>
                </button>
              </span>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</div>


<!-- import-export-modal -->

<div class="modal fade share_link" id="importExportModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="importExportLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-4">

      <div class="modal-header">
        <h5 class="modal-title pt-0" id="importExportLabel">Import KPIs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeImportModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow: auto;  max-height: 300px;">
        <div class="row">
          <div class="col-md-12 text-center">
            <table cellspacing="0" cellpadding="0">
              <tr>
                <th class="excelTable" *ngFor="let headers of tableTitle">{{ headers }}</th>
              </tr>
              <ng-container *ngFor="let data of tableData; let i = index">
                <tr *ngIf="i > 0">
                  <td class="excelTable">
                    {{ data['__EMPTY_1']}}
                  </td>
                  <td class="excelTable">
                    {{ data['__EMPTY_2']}}
                  </td>
                  <td class="excelTable">
                    {{ data['__EMPTY_3'] | titlecase }}
                  </td>
                  <td class="excelTable" [ngStyle]="{'background-color': data.invalid ?  'red' : ''}">
                    {{ data['__EMPTY_4']}}
                  </td>
                  <td class="excelTable">
                    {{ data['__EMPTY_5']}}
                  </td>
                  <td class="excelTable" [ngStyle]="{'background-color': data.invalid ?  'red' : ''}">
                    {{ data['__EMPTY_6']}}
                  </td>
                  <td class="excelTable">
                    {{ data['__EMPTY_7']}}
                  </td>
                  <td class="excelTable">
                    {{ data['__EMPTY_8'] | titlecase }}
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mt-4">
            <label class="sr-only" for="inlineFormInputGroup">Choose Files</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
              </div>
  
              <div class="input-group custom-file-button">
                <label class="input-group-text" for="inputImportFile">Import</label>
                <input type="file" class="form-control" id="inputImportFile" (change)="onFileChange($event)" accept=".csv"
                  multiple="false">
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <button type="button" class="btn btn-secondary float-right" data-html="true" data-toggle="tooltip" data-placement="left" title="
            <div>1) Download the current KPIs.
               <br/> 2) Once the KPI file is downloaded, open it in Microsoft Excel and make your changes into the file.
               <br/> 3) After making your changes, save the file in CSV format.
              <br/> 4) Submit the updated CSV file.</div>
              ">
            Instructions
          </button>
        </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="no-gutters row w-100">
          <div style="border-color: unset;" data-dismiss="" aria-label="" class="col-md-6">
            <span aria-hidden="true">
              <button type="submit" (click)="submitCSV()" class="send-btn" [disabled]="importSubmitFlag">
                <div class="spinner-border text-light align-top" role="status" *ngIf="importSubmitFlag">
                  <span class="sr-only">Loading...</span>
                </div>
                <ng-container *ngIf="!importSubmitFlag">Submit</ng-container>
              </button>
            </span>
          </div>
          <div class="col-md-6">
            <button class="float-right export-btn" type="button" (click)="exportCSV()">
              <i class="fa fa-download"></i> Current KPIs
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Audit trail modal -->
<div class="modal fade" id="auditTrailModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content p-4">
         <div class="modal-header">
            <h5 class="modal-title pt-0" id="staticBackdropLabel">Audit Trail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
          <div class="audit_trial_div">
            <div class="card my-2 mr-2" *ngFor="let history of auditHistories">
              <div class="card-header">
                {{ auditingNode?.name }}
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p class="mb-1">
                    <b>{{ history?.user?.fullName }}</b> has updated the value to <b>{{ history?.event_options?.updated?.achieved_value }}</b>
                     for the month of <b>{{ history?.createdAt | date: 'MMMM' }}</b></p>
                  <footer class="blockquote-footer">{{ history?.createdAt | date: 'medium' }}</footer>
                </blockquote>
              </div>
            </div>
            <ng-container *ngIf="auditLoading">
              <div [innerHtml]="loader"></div>
            </ng-container>
            <ng-container *ngIf="!auditLoading && auditHistories.length === 0">
              <div [innerHtml]="noDataAvailable"></div>
            </ng-container>
            <div class="text-center mt-4" *ngIf="!auditLoading && totalAudits > auditHistories.length">
              <p class="view_more" (click)="viewMoreAudit()">View More..</p>
            </div>
          </div>
         </div>
      </div>
   </div>
</div>