<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="page-heading">
          <h4 class="pt-3">KPI DASHBOARD</h4>
        </div>
      </div>
      <div class="col-lg-2 pr-2 pl-2">
        <div class="all-section">
          <div class="row">
            <div class="col-4">
              <img src="assets/img/future.svg">
            </div>
            <div class="col-4">
              <h5 class="m-0 ">All</h5>
            </div>
            <div class="col-4">
              <p class="">{{ stats?.All }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 pr-2 pl-2">
        <div class="all-section">
          <div class="row">
            <div class="col-4">
              <img src="assets/img/current.svg">
            </div>
            <div class="col-5 p-0">
              <h5 class="m-0 text-nowrap">In Progress</h5>
            </div>
            <div class="col-3">
              <p class="">{{ stats?.InProgress }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 pr-2 pl-2">
        <div class="all-section">
          <div class="row">
            <div class="col-4">
              <img src="assets/img/past.svg">
            </div>
            <div class="col-5 p-0">
              <h5 class="m-0">Completed</h5>
            </div>
            <div class="col-3">
              <p class="">{{ stats?.Completed }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="search-bar">
          <form action="" class="search-form">
            <div class="form-group search-filed m-0">
              <input type="text" class="form-control" name="search" [(ngModel)]="search_text" id="search"
                placeholder="Search...">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                viewBox="0 0 16 16" style="cursor: pointer; margin-right: 30px; margin-top: 3px;" *ngIf="search_text"
                (click)="clearSearch()">
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                style="cursor: pointer;" viewBox="0 0 16 16" (click)="search()">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="KPI-dash-tab">
          <div class="dropdown sort-drop">
            <div>
              <form>
                <select #id (change)="onSortBy(id.value)" class="form-select form-select-lg"
                  style="height:35px; margin-top:3px; font-weight: 700;">
                  <option hidden>Sort by</option>
                  <option value="worst">Worst to Best Performing</option>
                  <option value="best">Best to Worst Performing</option>
                  <option value="oldest">Oldest to Newest</option>
                  <option value="newest">Newest to Oldest</option>
                </select>
              </form>
            </div>
          </div>

          <!-- KPI Tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item nav-item-cus" (click)="onTabSwitch('assigned')"> <a
                class="nav-link nav-link-cus pl-0 active" data-toggle="tab" href="#tabs-1" role="tab">Assigned to me</a>
            </li>
            <li class="nav-item nav-item-cus" (click)="onTabSwitch('shared')"> <a class="nav-link nav-link-cus pl-0"
                data-toggle="tab" href="#tabs-2" role="tab">Shared with me</a> </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content tab-content-cus">
            <!-- ASSIGNED TAB -->
            <div class="tab-pane p-3 active" id="tabs-1" role="tabpanel">
              <div class="row">
                <div class="col-lg-12">
                  <div class="KPI-custom-table">
                    <table class="table">
                      <thead class="border-thead">
                        <tr>
                          <th scope="col">
                            <div class="d-flex">
                              <span>Karta </span>
                              <span>
                                <div class="dropdown filter-option">
                                  <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                    id="kartaDropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-funnel" viewBox="0 0 16 16">
                                      <path
                                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                                    </svg>
                                  </button>
                                  <div class="dropdown-menu karta-filter" aria-labelledby="kartaDropdownMenuButton">
                                    <div class="main">
                                      <input class="form-control mr-2 ml-2" id="searchInput" type="search"
                                        placeholder="Search" aria-label="Search" [(ngModel)]="searchText">
                                      <span class="fa fa-search form-control-icon"></span>
                                    </div>
                                    <div class="row pb-2" *ngFor="let creator of creators | filter : searchText">
                                      <div class="col-6">
                                        <h6 class="pl-2 m-0 pt-1">{{ creator.fullName }}</h6>
                                      </div>
                                      <div class="col-6 text-right">
                                        <div class="form-check custom-box mr-2">
                                          <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                            (click)="onKpiSelect( $event, creator.id)">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </span>
                            </div>
                          </th>
                          <th scope="col">KPI</th>
                          <th scope="col">
                            <div class="d-flex">
                              <span>Target </span>
                              <span>
                                <div class="dropdown filter-option">
                                  <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-funnel" viewBox="0 0 16 16">
                                      <path
                                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                                    </svg>
                                  </button>
                                  <div class="dropdown-menu select-sec" aria-labelledby="dropdownMenuButton">
                                    <div *ngFor="let targets of targetTypesList;">
                                      <div class="row pb-2">
                                        <div class="col-6">
                                          <h6 class="pl-2 m-0 pt-1">{{ targets.name }}</h6>
                                        </div>
                                        <div class="col-6 text-right">
                                          <div class="form-check custom-box mr-2">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                              [(ngModel)]="targets.selected"
                                              (change)="onTargetSelect($event, targets.value)">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </span>
                            </div>
                          </th>
                          <th scope="col">Actual</th>
                          <th scope="col">
                            <div class="d-flex">
                              <span class="text-nowrap">Last Edited </span>
                              <span>
                                <div class="dropdown filter-option">
                                  <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                    id="dateDropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-funnel" viewBox="0 0 16 16">
                                      <path
                                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                                    </svg>
                                  </button>
                                  <div class="dropdown-menu select-last-edit" aria-labelledby="dateDropdownMenuButton">
                                    <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group mb-3"
                                      style="display:flex;">
                                      <input class="form-control" id="form-control-last-date"
                                        placeholder="Daterangepicker" [(ngModel)]="lastEditSelectedDates"
                                        bsDaterangepicker (ngModelChange)="onDateChange($event)" [maxDate]="maxDate">
                                      <button type="button" class="btn btn-outline-danger btn-sm ml-2"
                                        (click)="resetDates()">Clear</button>
                                    </div>
                                  </div>
                                </div>
                              </span>
                            </div>
                          </th>
                          <th scope="col">
                            <div class="d-flex">
                              <span class="text-nowrap">Due Date</span>
                              <span>
                                <div class="dropdown filter-option">
                                  <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-funnel" viewBox="0 0 16 16">
                                      <path
                                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                                    </svg>
                                  </button>
                                  <div class="dropdown-menu select-date-required"
                                    aria-labelledby="dateDropdownMenuButton">
                                    <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group mb-3"
                                      style="display:flex;">
                                      <input class="form-control" id="form-control-date-required"
                                        placeholder="Daterangepicker" [(ngModel)]="dueDateSelectedDates"
                                        bsDaterangepicker (ngModelChange)="onDueDateChange($event)"
                                        [bsConfig]="{ showClearButton: true }">
                                      <button type="button" class="btn btn-outline-danger btn-sm ml-2"
                                        (click)="resetDates()">Clear</button>
                                    </div>
                                  </div>
                                </div>
                              </span>
                            </div>
                          </th>
                          <th scope="col" class="text-nowrap">Days Left</th>
                          <th scope="col">
                            <div class="d-flex">
                              <span>Completion </span>
                              <span>
                                <div class="dropdown filter-option">
                                  <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-funnel" viewBox="0 0 16 16">
                                      <path
                                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                                    </svg>
                                  </button>
                                  <div class="dropdown-menu select-sec" aria-labelledby="dropdownMenuButton">
                                    <div *ngFor="let percent of percentageList;">
                                      <div class="row pb-2">
                                        <div class="col-8">
                                          <h6 class="pl-2 m-0 pt-1">{{ percent.name }}</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                          <div class="form-check custom-box mr-2">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                              [(ngModel)]="percent.selected"
                                              (change)="onPercentSelect($event, percent.value)">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </span>
                            </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="border-0">
                        <tr *ngFor="let kpi of kpis; let i = index;">
                          <td>
                            <p class="m-0">{{ kpi?.karta.name }}</p>
                            <p class="user-name-iocn">
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                              </svg>
                              {{ kpi?.karta.user.fullName }}
                            </p>
                          </td>
                          <td>{{ kpi?.name }}</td>
                          <td>
                            <span>{{ kpi?.target[0].value }}</span>
                            <span class="">{{ ' '+ kpi?.target[0].frequency | slice:0:3 }}.</span>
                          </td>
                          <td>
                            <div class="editacval">
                              <span *ngIf="rowClicked == i ? isHidden : !isHidden" style="cursor:pointer;">
                                {{ kpi?.achieved_value }}
                              </span>
                              <input *ngIf="rowClicked == i ? !isHidden : isHidden" autofocus #ach_val
                                (blur)="onEditAcheivedValue(ach_val.value, kpi)" value="{{ kpi?.achieved_value }}">
                              <svg xmlns="http://www.w3.org/2000/svg" (click)="editActualValue(i)"
                                style="cursor:pointer;" width="16" height="12" fill="currentColor" class="bi bi-pencil"
                                viewBox="0 0 16 16">
                                <path
                                  d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                              </svg>
                            </div>
                          </td>
                          <td>{{ kpi?.updatedAt | date }}</td>
                          <td>{{ kpi?.due_date | date }}</td>
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                              class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                              <path
                                d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                              <path fill-rule="evenodd"
                                d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
                            </svg>
                            <span [style.color]="calculateDueDays(kpi?.due_date) >= 0 ? '' : '#dc3545'">
                              {{ calculateDueDays(kpi?.due_date) >= 0 ? calculateDueDays(kpi?.due_date) + ' Days left' :
                              -calculateDueDays(kpi?.due_date) + ' Days overdue' }}
                            </span>
                          </td>
                          <td>
                            <ng-container *ngIf="kpi?.target[0]?.percentage >= 101 ;else second">
                              <div class="container" style="padding-left:0px; padding-right:0px;">
                                <div class="progress">
                                  <div class="progress" style="width:70%; border-radius: 0px; ">
                                    <div class="progress-bar" style="border-radius: 0px;" aria-valuenow="20"
                                      aria-valuemin="0" aria-valuemax="100" role="progressbar"
                                      [ngStyle]="{'background-color':getNodePercentageColor(kpi?.target[0]?.percentage)}"
                                      [style.width]="kpi?.target[0]?.percentage + '%'">
                                      {{ kpi?.target[0]?.percentage > 100 ? '' : kpi?.target[0]?.percentage + '%' }}
                                    </div>
                                  </div>
                                  <div class="progress" style="width:2%; border-radius: 0px"></div>
                                  <div class="progress" style="width:28%; border-radius: 0px">
                                    <div class="progress-bar" style="border-radius: unset; width:100%;"
                                      aria-valuemin="0" aria-valuemax="0" role="progressbar"
                                      [ngStyle]="{'background-color':getNodePercentageColor(kpi?.target[0]?.percentage)}">
                                      {{ kpi?.target[0]?.percentage > 100 ? kpi?.target[0]?.percentage + '%' : '' }}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #second>
                              <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                  [ngStyle]="{'background-color':getNodePercentageColor(kpi?.target[0]?.percentage)}"
                                  [style.width]="kpi?.target[0]?.percentage + '%'" aria-valuenow="25" aria-valuemin="0"
                                  aria-valuemax="100">{{ kpi?.target[0]?.percentage + '%' }}</div>
                              </div>
                            </ng-template>
                          </td>
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                              class="bi bi-share" viewBox="0 0 16 16" data-toggle="modal" data-target="#staticBackdrop"
                              style="cursor: pointer;" (click)="onShareClick(kpi)">
                              <path
                                d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                            </svg>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- SHARED TAB -->
            <div class="tab-pane p-3" id="tabs-2" role="tabpanel">
              <div class="row">
                <div class="col-lg-12">
                  <div class="KPI-custom-table">
                    <table class="table">
                      <thead class="border-thead">
                        <tr>
                          <th scope="col">
                            <div class="d-flex">
                              <span>Karta </span>
                              <span>
                                <div class="dropdown filter-option">
                                  <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                    id="kartaDropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-funnel" viewBox="0 0 16 16">
                                      <path
                                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                                    </svg>
                                  </button>
                                  <div class="dropdown-menu karta-filter" aria-labelledby="kartaDropdownMenuButton">
                                    <div class="main">
                                      <input class="form-control mr-2 ml-2" id="searchInput" type="search"
                                        placeholder="Search" aria-label="Search" [(ngModel)]="searchText">
                                      <span class="fa fa-search form-control-icon"></span>
                                    </div>
                                    <div class="row pb-2" *ngFor="let creator of creators | filter : searchText">
                                      <div class="col-9">
                                        <h6 class="pl-2 m-0 pt-1">{{ creator.fullName }}</h6>
                                      </div>
                                      <div class="col-3 text-right">
                                        <div class="form-check custom-box mr-2">
                                          <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                            (click)="onKpiSelect($event, creator.id)">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </span>
                            </div>
                          </th>
                          <th scope="col">KPI</th>
                          <th scope="col">
                            <div class="d-flex">
                              <span>Target </span>
                              <span>
                                <div class="dropdown filter-option">
                                  <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-funnel" viewBox="0 0 16 16">
                                      <path
                                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                                    </svg>
                                  </button>
                                  <div class="dropdown-menu select-sec" aria-labelledby="dropdownMenuButton">
                                    <div *ngFor="let targets of targetTypesList;">
                                      <div class="row pb-2">
                                        <div class="col-6">
                                          <h6 class="pl-2 m-0 pt-1">{{ targets.name }}</h6>
                                        </div>
                                        <div class="col-6 text-right">
                                          <div class="form-check custom-box mr-2">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                              [(ngModel)]="targets.selected"
                                              (change)="onTargetSelect($event, targets.value)">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </span>
                            </div>
                          </th>
                          <th scope="col">Actual</th>
                          <th scope="col">
                            <div class="d-flex">
                              <span class="text-nowrap">Last Edited </span>
                              <span>
                                <div class="dropdown filter-option">
                                  <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                    id="dateDropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-funnel" viewBox="0 0 16 16">
                                      <path
                                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                                    </svg>
                                  </button>
                                  <div class="dropdown-menu select-last-edit" aria-labelledby="dateDropdownMenuButton">
                                    <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group mb-3"
                                      style="display:flex;">
                                      <input class="form-control" id="form-control-last-date"
                                        placeholder="Daterangepicker" [(ngModel)]="lastEditSelectedDates"
                                        bsDaterangepicker (ngModelChange)="onDateChange($event)" [maxDate]="maxDate">
                                      <button type="button" class="btn btn-outline-danger btn-sm ml-2"
                                        (click)="resetDates()">Clear</button>
                                    </div>
                                  </div>
                                </div>
                              </span>
                            </div>
                          </th>
                          <th scope="col">
                            <div class="d-flex">
                              <span class="text-nowrap">Due Date</span>
                              <span>
                                <div class="dropdown filter-option">
                                  <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-funnel" viewBox="0 0 16 16">
                                      <path
                                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                                    </svg>
                                  </button>
                                  <div class="dropdown-menu select-date-required"
                                    aria-labelledby="dateDropdownMenuButton">
                                    <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group mb-3"
                                      style="display:flex;">
                                      <input class="form-control" id="form-control-date-required"
                                        placeholder="Daterangepicker" [(ngModel)]="dueDateSelectedDates"
                                        bsDaterangepicker (ngModelChange)="onDueDateChange($event)"
                                        [bsConfig]="{ showClearButton: true }">
                                      <button type="button" class="btn btn-outline-danger btn-sm ml-2"
                                        (click)="resetDates()">Clear</button>
                                    </div>
                                  </div>
                                </div>
                              </span>
                            </div>
                          </th>
                          <th scope="col" class="text-nowrap">Days Left</th>
                          <th scope="col">
                            <div class="d-flex">
                              <span>Completion </span>
                              <span>
                                <div class="dropdown filter-option">
                                  <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-funnel" viewBox="0 0 16 16">
                                      <path
                                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                                    </svg>
                                  </button>
                                  <div class="dropdown-menu select-sec" aria-labelledby="dropdownMenuButton">
                                    <div *ngFor="let percent of percentageList;">
                                      <div class="row pb-2">
                                        <div class="col-8">
                                          <h6 class="pl-2 m-0 pt-1">{{ percent.name }}</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                          <div class="form-check custom-box mr-2">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                              [(ngModel)]="percent.selected"
                                              (change)="onPercentSelect($event, percent.value)">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </span>
                            </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="border-0">
                        <tr *ngFor="let kpi of kpis">
                          <td>
                            <p class="m-0">{{ kpi?.karta.name }}</p>
                            <p class="user-name-iocn">
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                              </svg>
                              {{ kpi?.karta.user.fullName }}
                            </p>
                          </td>
                          <td>{{ kpi?.name }}</td>
                          <td>
                            <span>{{ kpi?.target[0].value }}</span>
                            <span class="">{{ ' '+ kpi?.target[0].frequency | slice:0:3 }}.</span>
                          </td>
                          <td><span>{{ kpi?.achieved_value }}</span></td>
                          <td>{{ kpi?.updatedAt | date }}</td>
                          <td>{{ kpi?.due_date | date }}</td>
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                              class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                              <path
                                d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                              <path fill-rule="evenodd"
                                d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
                            </svg>
                            <span [style.color]="calculateDueDays(kpi?.due_date) >= 0 ? '' : '#dc3545'">
                              {{ calculateDueDays(kpi?.due_date) >= 0 ? calculateDueDays(kpi?.due_date) + ' Days left' :
                              -calculateDueDays(kpi?.due_date) + ' Days overdue' }}
                            </span>
                          </td>
                          <td>
                            <ng-container *ngIf="kpi?.target[0]?.percentage >= 101 ;else second">
                              <div class="container" style="padding-left:0px; padding-right:0px;">
                                <div class="progress">
                                  <div class="progress" style="width:70%; border-radius: 0px; ">
                                    <div class="progress-bar" style="border-radius: 0px;" aria-valuenow="20"
                                      aria-valuemin="0" aria-valuemax="100" role="progressbar"
                                      [ngStyle]="{'background-color':getNodePercentageColor(kpi?.target[0]?.percentage)}"
                                      [style.width]="kpi?.target[0]?.percentage + '%'">
                                      {{ kpi?.target[0]?.percentage > 100 ? '' : kpi?.target[0]?.percentage + '%' }}
                                    </div>
                                  </div>
                                  <div class="progress" style="width:2%; border-radius: 0px"></div>
                                  <div class="progress" style="width:28%; border-radius: 0px">
                                    <div class="progress-bar" style="border-radius: unset; width:100%;"
                                      aria-valuemin="0" aria-valuemax="0" role="progressbar"
                                      [ngStyle]="{'background-color':getNodePercentageColor(kpi?.target[0]?.percentage)}">
                                      {{ kpi?.target[0]?.percentage > 100 ? kpi?.target[0]?.percentage + '%' : '' }}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #second>
                              <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                  [ngStyle]="{'background-color':getNodePercentageColor(kpi?.target[0]?.percentage)}"
                                  [style.width]="kpi?.target[0]?.percentage + '%'" aria-valuenow="25" aria-valuemin="0"
                                  aria-valuemax="100">{{ kpi?.target[0]?.percentage + '%' }}</div>
                              </div>
                            </ng-template>
                          </td>
                          <td>
                            <div class="col-lg-12" *ngIf="sharingKarta && selectedSharedUsers">
                              <ng-multiselect-dropdown [(ngModel)]="selectedSharedUsers" [placeholder]="'Select users'"
                                [settings]="dropdownSettings" [data]="users" (onSelect)="onItemSelect($event)"
                                (onDeSelect)="onItemDeSelect($event)">
                              </ng-multiselect-dropdown>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- share-link-model -->

<div class="modal fade shara-link" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h5 class="modal-title pt-0" id="staticBackdropLabel">Share Link</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="sharingKarta = undefined">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="share-link-model mt-3">
          <div class="form-group">
            <label style="font-weight: bold;">{{ sharingKarta?.karta?.name }}: {{ sharingKarta?.name }}</label>
            <div class="row">
              <div class="col-lg-12" *ngIf="sharingKarta">
                <ng-multiselect-dropdown [(ngModel)]="selectedSharedUsers" [placeholder]="'Select users'"
                  [settings]="dropdownSettings" [data]="users" (onSelect)="onItemSelect($event)"
                  (onDeSelect)="onItemDeSelect($event)">
                </ng-multiselect-dropdown>
              </div>
            </div>
          </div>
            <div style="border-color: unset;" data-dismiss="" aria-label="">
              <span aria-hidden="true"><button type="button" class="send-btn" style="cursor: pointer;"
                  [disabled]="selectedSharedUsers && selectedSharedUsers.length > 0 ? false : true"
                  (click)="onSubmitSharedData()">
                  <div class="spinner-border text-light align-top" role="status" *ngIf="sharedSubmitFlag">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <ng-container *ngIf="!sharedSubmitFlag">SEND</ng-container>
                </button></span>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-left">
          <div class="shared-with" style="display:flex;">
            <span>Shared with:</span>
            <!-- <span class="ml-3"><a href="#"><img src="../../../assets/img/link-.svg"></a></span> -->
            <ng-container *ngIf="sharingKartaCount">
              <span class="ml-2"><img src="../../../assets/img/user-icon.svg"></span>
              <span class="ml-2" *ngIf="sharingKartaCount > 1">
                <div class="user-counter">
                    <p>+{{ sharingKartaCount - 1 }}</p>
                </div>
              </span>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>