<section id="common_sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="logo">
                    <a [routerLink]="['/']"><img src="assets/img/kpi-karta-logo.png" width="280" height="65" alt="" /></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mng_col">
                    <div class="login_form">
                        <div class="max_center_400">
                            <h2 class="text-white text-center pb-2">Forgot Password</h2>
                            <p class="text-white text-center mb-5">
                                Don't worry. Resetting your password is easy. Just tell
                                us the email address that was used to create this account.
                            </p>
                            <ng-container *ngIf="message.show">
                                <p class="alert mb-2"
                                    [ngClass]="{'alert-success': message.type === 'Success', 'alert-danger': message.type === 'Error'}">
                                    {{message.msg}}
                                </p>
                            </ng-container>
                        </div>
                        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="email">Email address :</label>
                                <input type="email" class="form-control form-control1" id="email" formControlName="email"
                                    [ngClass]="{ 'is-invalid': (submitted || form.email.touched) && form.email.errors }">
                                <div *ngIf="(submitted || form.email.touched) && form.email.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="form.email.errors.required">Email is required!</div>
                                    <div *ngIf="form.email.errors.pattern">Enter a valid email address!</div>
                                </div>
                            </div>
                            <button class="btn btn-light btn_default mb-3 mt-2" [disabled]="submitFlag">
                                <div class="spinner-border text-light align-top" role="status" *ngIf="submitFlag">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <ng-container *ngIf="!submitFlag">
                                    SUBMIT
                                </ng-container>
                            </button>
                        </form>
                        <div class="text-white text-center">
                            <p class="text-white">Back To
                                <a [routerLink]="['/login']" class="text-white"><strong>Login</strong></a>
                            </p>
                        </div>
                        <app-footer></app-footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>