<section id="common_sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="logo">
                    <a [routerLink]="['/']">
                        <img src="assets/img/kpi-karta-logo.png" width="280" height="65" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mng_col">
                    <div class="login_form">
                        <h2 class="text-white text-center pb-2">Forgot Password</h2>
                        <p class="text-white text-center mb-5">
                            Don't worry. Resetting your password is easy. Just tell
                            us the email address that was used to create this account.
                        </p>
                        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="email">Email address :</label>
                                <input type="email" class="form-control form-control1" id="email"
                                    formControlName="email"
                                    [ngClass]="{ 'is-invalid': (submitted || form.email.touched) && form.email.errors }">
                                <div *ngIf="(submitted || form.email.touched) && form.email.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="form.email.errors.required">Email is required!</div>
                                    <div *ngIf="form.email.errors.pattern">Enter a valid email address!</div>
                                </div>
                            </div>
                            <button class="btn btn-light btn_default mb-3 mt-2">SUBMIT</button>
                        </form>
                        <div class="text-white text-center">
                            <p>Back To <a [routerLink]="['/login']" class="text-white"><strong>Login</strong></a></p>
                        </div>
                        <div class="bot_link">
                            <p><a href="#!">Terms & Conditions </a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="">Contact Us</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>