<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main-content">
  <div class="alert alert-warning" role="alert" style="margin-top: -50px;" *ngIf="_2fa.showVerifyAlert">
    Your phone number is not verified. Please <a href="javascript:void(0);" (click)="navigateToProfile()" class="font-weight-bold text-primary">Verify now</a>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="settings-tab">

          <!-- Settings Tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item nav-item-cus"> <a class="nav-link nav-link-cus pl-0 active text-nowrap" data-toggle="tab" href="#tabs-2"
                role="tab">Two Factor Authentication</a> </li>
            <li class="nav-item nav-item-cus"> <a class="nav-link nav-link-cus pl-0" data-toggle="tab" href="#tabs-3"
                role="tab">Change Password</a> </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content tab-content-cus">

            <!-- Multi factor authentication -->
            <div class="tab-pane active" id="tabs-2" role="tabpanel">
              <ng-container *ngIf="!_2fa.isChecking; else loading">
                <div class="factor-cl border-0">
                  <div class="row">
                    <div class="col-8">
                      <h5>Enable/Disable Two Factor Authentication</h5>
                    </div>
                    <div class="col-4 text-right">
                      <div class="toggle-tab">
                        <label class="switch" for="checkbox">
                          <input type="checkbox" id="checkbox" [checked]="_2fa.isEnabled" (change)="toggle2FA($event)" />
                          <div class="slider round"></div>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #loading>
                <div class="input_preview d-flex align-items-center justify-content-center">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </ng-template>
            </div>

            <!-- Change password starts -->
            <div class="tab-pane" id="tabs-3" role="tabpanel">
              <div class="max_center_400 custom-tab-change-pass">
                <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
                  <div class="form-group">
                    <label for="oldPassword">Old Password<span class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword"
                      [ngClass]="{ 'is-invalid': (submitted || form.oldPassword.touched) && form.oldPassword.errors }">
                    <div *ngIf="(submitted || form.oldPassword.touched) && form.oldPassword.errors"
                      class="invalid-feedback">
                      <div *ngIf="form.oldPassword.errors.required">Old password is required!</div>
                      <div *ngIf="form.oldPassword.errors.pattern">Password should contain atleast 1 number,
                        1 lowercase, 1 uppercase, 1 special character and must of 8 digits.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="newPassword">New Password<span class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="newPassword" formControlName="newPassword"
                      [ngClass]="{ 'is-invalid': (submitted || form.newPassword.touched) && form.newPassword.errors }">
                    <div *ngIf="(submitted || form.newPassword.touched) && form.newPassword.errors"
                      class="invalid-feedback">
                      <div *ngIf="form.newPassword.errors.required">New password is required!</div>
                      <div *ngIf="form.newPassword.errors.pattern">Password should contain atleast 1 number,
                        1 lowercase, 1 uppercase, 1 special character and must of 8 digits.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="confirmPassword">Confirm Password<span class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                      [ngClass]="{ 'is-invalid': (submitted || form.confirmPassword.touched) && form.confirmPassword.errors }">
                    <div *ngIf="(submitted || form.confirmPassword.touched) && form.confirmPassword.errors"
                      class="invalid-feedback">
                      <div *ngIf="form.confirmPassword.errors.required">Confirm password is required!</div>
                      <div *ngIf="form.confirmPassword.errors.pattern">Password should contain atleast 1 number,
                        1 lowercase, 1 uppercase, 1 special character and must of 8 digits.</div>
                    </div>
                  </div>
                  <button class="btn btn-light btn_default max-270 mt-5" [disabled]="submitFlag">
                    <div class="spinner-border text-light align-top" role="status" *ngIf="submitFlag">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <ng-container *ngIf="!submitFlag">Change Password</ng-container>
                  </button>
                </form>
              </div>
            </div>
            <!-- Change password ends -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>