<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <button class="karta-btn"><img src="assets/img/add-karata.svg" class="mr-2"> Create a Karta</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="white-karata-card">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="Shared-karata">
                                <h5>Latest Shared Karta</h5>
                            </div>
                        </div>
                        <div class="col-lg-6 text-right">
                            <div class="view-all-text">
                                <a href="#">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <!-- card-one -->
                        <div class="col-lg-4">
                            <div class="karata-card">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="own d-flex">
                                            <img src="assets/img/own-icon.svg">
                                            <p>Own</p>
                                        </div>
                                    </div>
                                    <div class="col-6 text-right">
                                        <div class="dropdown show">
                                            <a class=" dropdown-toggle three-dots" href="#" role="button"
                                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <img src="assets/img/dots.svg" class="">
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="edit-btn-img">
                                            <img src="assets/img/edit--icon-blue.svg" class="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="mt-3">
                                            <h5>Revenue Karta</h5>
                                            <p>Mar-21-2022</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6 text-left">
                                        <div class="dropdown show">
                                            <a class=" dropdown-toggle three-dots change-acc" href="#" role="button"
                                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                Change access <img src="assets/img/down-arrow.svg" class="ml-2">
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="private d-flex">
                                            <p>Private</p><img src="assets/img/private-icon.svg" class="ml-2">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="Shared-with">
                                            <h5>Shared with:</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <div class="user-img">
                                                <img src="assets/img/user-placeholder.svg">
                                            </div>
                                            <div class="user-counter">
                                                <p>4</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end-card-one -->

                        <!-- card-one -->
                        <div class="col-lg-4">
                            <div class="karata-card">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="own d-flex">
                                            <img src="assets/img/own-icon.svg">
                                            <p>Own</p>
                                        </div>
                                    </div>
                                    <div class="col-6 text-right">
                                        <div class="dropdown show">
                                            <a class=" dropdown-toggle three-dots" href="#" role="button"
                                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <img src="assets/img/dots.svg" class="">
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="edit-btn-img">
                                            <img src="assets/img/edit--icon-blue.svg" class="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="mt-3">
                                            <h5>Revenue Karta</h5>
                                            <p>Mar-21-2022</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6 text-left">
                                        <div class="dropdown show">
                                            <a class=" dropdown-toggle three-dots change-acc" href="#" role="button"
                                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                Change access <img src="assets/img/down-arrow.svg" class="ml-2">
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="private d-flex">
                                            <p>Private</p><img src="assets/img/private-icon.svg" class="ml-2">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="Shared-with">
                                            <h5>Shared with:</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <div class="user-img">
                                                <img src="assets/img/user-placeholder.svg">
                                            </div>
                                            <div class="user-counter">
                                                <p>4</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end-card-one -->

                        <!-- card-one -->
                        <div class="col-lg-4">
                            <div class="karata-card">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="own d-flex">
                                            <img src="assets/img/own-icon.svg">
                                            <p>Own</p>
                                        </div>
                                    </div>
                                    <div class="col-6 text-right">
                                        <div class="dropdown show">
                                            <a class=" dropdown-toggle three-dots" href="#" role="button"
                                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <img src="assets/img/dots.svg" class="">
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="edit-btn-img">
                                            <img src="assets/img/edit--icon-blue.svg" class="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="mt-3">
                                            <h5>Revenue Karta</h5>
                                            <p>Mar-21-2022</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6 text-left">
                                        <div class="dropdown show">
                                            <a class=" dropdown-toggle three-dots change-acc" href="#" role="button"
                                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                Change access <img src="assets/img/down-arrow.svg" class="ml-2">
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="private d-flex">
                                            <p>Private</p><img src="assets/img/private-icon.svg" class="ml-2">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="Shared-with">
                                            <h5>Shared with:</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <div class="user-img">
                                                <img src="assets/img/user-placeholder.svg">
                                            </div>
                                            <div class="user-counter">
                                                <p>4</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end-card-one -->

                    </div>
                </div>
                <div class="white-karata-card mt-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="Shared-karata">
                                <h5>Latest Kartas</h5>
                            </div>
                        </div>
                        <div class="col-lg-6 text-right">
                            <div class="view-all-text">
                                <a href="#">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <!-- card-one -->
                        <div class="col-lg-4">
                            <div class="karata-card">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="own d-flex">
                                            <img src="assets/img/own-icon.svg">
                                            <p>Own</p>
                                        </div>
                                    </div>
                                    <div class="col-6 text-right">
                                        <div class="dropdown show">
                                            <a class=" dropdown-toggle three-dots" href="#" role="button"
                                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <img src="assets/img/dots.svg" class="">
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="edit-btn-img">
                                            <img src="assets/img/edit--icon-blue.svg" class="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="mt-3">
                                            <h5>Revenue Karta</h5>
                                            <p>Mar-21-2022</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6 text-left">
                                        <div class="dropdown show">
                                            <a class=" dropdown-toggle three-dots change-acc" href="#" role="button"
                                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                Change access <img src="assets/img/down-arrow.svg" class="ml-2">
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="private d-flex">
                                            <p>Private</p><img src="assets/img/private-icon.svg" class="ml-2">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="Shared-with">
                                            <h5>Shared with:</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <div class="user-img">
                                                <img src="assets/img/user-placeholder.svg">
                                            </div>
                                            <div class="user-counter">
                                                <p>4</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end-card-one -->

                        <!-- card-one -->
                        <div class="col-lg-4">
                            <div class="karata-card">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="own d-flex">
                                            <img src="assets/img/own-icon.svg">
                                            <p>Own</p>
                                        </div>
                                    </div>
                                    <div class="col-6 text-right">
                                        <div class="dropdown show">
                                            <a class=" dropdown-toggle three-dots" href="#" role="button"
                                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <img src="assets/img/dots.svg" class="">
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="edit-btn-img">
                                            <img src="assets/img/edit--icon-blue.svg" class="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="mt-3">
                                            <h5>Revenue Karta</h5>
                                            <p>Mar-21-2022</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6 text-left">
                                        <div class="dropdown show">
                                            <a class=" dropdown-toggle three-dots change-acc" href="#" role="button"
                                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                Change access <img src="assets/img/down-arrow.svg" class="ml-2">
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="private d-flex">
                                            <p>Private</p><img src="assets/img/private-icon.svg" class="ml-2">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="Shared-with">
                                            <h5>Shared with:</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <div class="user-img">
                                                <img src="assets/img/user-placeholder.svg">
                                            </div>
                                            <div class="user-counter">
                                                <p>4</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end-card-one -->

                        <!-- card-one -->
                        <div class="col-lg-4">
                            <div class="karata-card">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="own d-flex">
                                            <img src="assets/img/own-icon.svg">
                                            <p>Own</p>
                                        </div>
                                    </div>
                                    <div class="col-6 text-right">
                                        <div class="dropdown show">
                                            <a class=" dropdown-toggle three-dots" href="#" role="button"
                                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <img src="assets/img/dots.svg" class="">
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="edit-btn-img">
                                            <img src="assets/img/edit--icon-blue.svg" class="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="mt-3">
                                            <h5>Revenue Karta</h5>
                                            <p>Mar-21-2022</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6 text-left">
                                        <div class="dropdown show">
                                            <a class=" dropdown-toggle three-dots change-acc" href="#" role="button"
                                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                Change access <img src="assets/img/down-arrow.svg" class="ml-2">
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="private d-flex">
                                            <p>Private</p><img src="assets/img/private-icon.svg" class="ml-2">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="Shared-with">
                                            <h5>Shared with:</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex">
                                            <div class="user-img">
                                                <img src="assets/img/user-placeholder.svg">
                                            </div>
                                            <div class="user-counter">
                                                <p>4</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end-card-one -->

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="total-section">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-6 col-6">
                                        <h5>Total Creators</h5>
                                        <p>3</p>
                                    </div>
                                    <div class="col-lg-6 col-6 text-right">
                                        <img src="assets/img/total-creator.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-6 col-6">
                                        <h5>Total Champions</h5>
                                        <p>12</p>
                                    </div>
                                    <div class="col-lg-6 col-6 text-right">
                                        <img src="assets/img/total-champion.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-6 col-6">
                                        <h5>Total Spectators</h5>
                                        <p>24</p>
                                    </div>
                                    <div class="col-lg-6 col-6 text-right">
                                        <img src="assets/img/total-spectators.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="total-section mt-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-8 col-6">
                                        <h5>Recently Tagged</h5>
                                    </div>
                                    <div class="col-lg-4 col-6 text-right">
                                        <div class="view-all-text">
                                            <a href="#">View All</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-8 col-6">
                                        <h6>10-Mar-22 10:30 AM</h6>
                                        <p class="karata-id">#Jack <span class="karata-name">Revenue Karta</span></p>
                                    </div>
                                    <div class="col-lg-4 col-6 text-right">
                                        <p><b>ROI</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-8 col-6">
                                        <h6>10-Mar-22 10:30 AM</h6>
                                        <p class="karata-id">#Jack <span class="karata-name">Revenue Karta</span></p>
                                    </div>
                                    <div class="col-lg-4 col-6 text-right">
                                        <p><b>Price</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-8 col-6">
                                        <h6>10-Mar-22 10:30 AM</h6>
                                        <p class="karata-id">#Jack <span class="karata-name">Revenue Karta</span></p>
                                    </div>
                                    <div class="col-lg-4 col-6 text-right">
                                        <p><b>Design</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-8 col-6">
                                        <h6>10-Mar-22 10:30 AM</h6>
                                        <p class="karata-id">#Jack <span class="karata-name">Revenue Karta</span></p>
                                    </div>
                                    <div class="col-lg-4 col-6 text-right">
                                        <p><b>Price</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-8 col-6">
                                        <h6>10-Mar-22 10:30 AM</h6>
                                        <p class="karata-id">#Jack <span class="karata-name">Revenue Karta</span></p>
                                    </div>
                                    <div class="col-lg-4 col-6 text-right">
                                        <p><b>Price</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>