<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <button class="karta-btn" (click)="navigateToKarta()"><img src="assets/img/add-karata.svg" class="mr-2">
                    Create a Karta</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="white-karata-card">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="Shared-karata">
                                <h5>Latest Shared Karta</h5>
                            </div>
                        </div>
                        <div class="col-lg-6 text-right">
                            <div class="view-all-text">
                                <a href="javascript:void(0);">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <!-- card-one -->
                        <ng-container *ngFor="let karta of sharedKartas; let i = index">
                            <div class="col-lg-4">
                                <div class="karata-card">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="own d-flex">
                                                <img src="assets/img/own-icon.svg">
                                                <p>{{karta?.user?.fullName}}</p>
                                            </div>
                                        </div>
                                        <div class="col-4 text-right">
                                            <div class="dropdown show">
                                                <a class=" dropdown-toggle three-dots" href="#" role="button"
                                                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <img src="assets/img/dots.svg" class="">
                                                </a>
                                                <div class="dropdown-menu three-dots-drop"
                                                    aria-labelledby="dropdownMenuLink">
                                                    <img src="assets/img/drop-arrow.svg" class="drop-arrow">
                                                    <!-- <a class="dropdown-item share" href="javascript:void(0);"
                                                        data-toggle="modal" data-target="#shareLinkModal"
                                                        (click)="onShare(karta)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-share-fill mr-2"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                                        </svg>
                                                        Share
                                                    </a> -->
                                                    <!-- <a class="dropdown-item" style="cursor: pointer;" (click)="copyKarta(karta.id)"><img
                                                            src="assets/img/copy.svg" class="mr-3"> Copy</a> -->
                                                    <a class="dropdown-item" href="javascript:void(0);"><img src="assets/img/used.svg"
                                                            class="mr-2"> Used <span> (5)</span></a>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <div class="edit-btn-img">
                                                <a href="javascript:void(0);" style="cursor: default;">
                                                    <img src="assets/img/edit--icon-blue.svg" class="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <div class="mt-3">
                                                <h5>{{karta?.name}}</h5>
                                                <p>{{karta?.createdAt | date:'mediumDate'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-lg-6 text-left">
                                            <div class="dropdown show">
                                                <a class=" dropdown-toggle three-dots change-acc text-body" href="javascript:void(0);"
                                                    role="button" style="cursor: default;">
                                                    Change access <img src="assets/img/down-arrow.svg" class="ml-2">
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="javascript:void(0);"
                                                        (click)="updateKarta('private', karta?._id, i)">Private</a>
                                                    <a class="dropdown-item" href="javascript:void(0);"
                                                        (click)="updateKarta('public', karta?._id, i)">Public</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="private d-flex">
                                                <p class="text-capitalize">{{karta?.type}}</p>
                                                <img src="assets/img/{{karta?.type}}-icon.svg" class="ml-2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="Shared-with">
                                                <h5>Shared with:</h5>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="d-flex">
                                                <ng-container *ngIf="karta?.sharedTo?.length > 0">
                                                    <div class="user-img">
                                                        <img src="assets/img/user-placeholder.svg">
                                                    </div>
                                                    <div class="user-counter" *ngIf="karta?.sharedTo?.length > 1">
                                                        <p>+{{ karta?.sharedTo?.length > 1 ? karta?.sharedTo?.length - 1
                                                            :
                                                            ''}}</p>
                                                    </div>
                                                </ng-container>
                                            </div>

                                            <!-- <ng-container *ngIf="sharingKartaCount">
                                                <span class="ml-2"><img src="../../../assets/img/user-icon.svg"></span>
                                                <span class="ml-2" *ngIf="sharingKartaCount > 1">
                                                    <div class="user-counter">
                                                        <p>+{{ sharingKartaCount - 1 }}</p>
                                                    </div>
                                                </span>
                                            </ng-container> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <!-- end-card-one -->
                    </div>
                </div>
                <div class="white-karata-card mt-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="Shared-karata">
                                <h5>Latest Kartas</h5>
                            </div>
                        </div>
                        <div class="col-lg-6 text-right">
                            <div class="view-all-text">
                                <a href="javascript:void(0);">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <!-- card-one -->
                        <ng-container *ngFor="let karta of kartas; let i = index">
                            <div class="col-lg-4">
                                <div class="karata-card">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="own d-flex">
                                                <img src="assets/img/own-icon.svg">
                                                <p>{{karta?.user?.fullName}}</p>
                                            </div>
                                        </div>
                                        <div class="col-4 text-right">
                                            <div class="dropdown show">
                                                <a class=" dropdown-toggle three-dots" href="#" role="button"
                                                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <img src="assets/img/dots.svg" class="">
                                                </a>
                                                <div class="dropdown-menu three-dots-drop"
                                                    aria-labelledby="dropdownMenuLink">
                                                    <img src="assets/img/drop-arrow.svg" class="drop-arrow">
                                                    <a class="dropdown-item share" href="javascript:void(0);"
                                                        data-toggle="modal" data-target="#shareLinkModal"
                                                        (click)="onShare(karta)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-share-fill mr-2"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                                        </svg>
                                                        Share
                                                    </a>
                                                    <a class="dropdown-item" style="cursor: pointer;"  (click)="copyKarta(karta._id)"><img
                                                            src="assets/img/copy.svg" class="mr-3"> Copy</a>
                                                    <a class="dropdown-item" href="#"><img src="assets/img/used.svg"
                                                            class="mr-2"> Used <span> (5)</span></a>
                                                    <a class="dropdown-item Delete" href="javascript:void(0);"
                                                        (click)="deleteKarta(karta._id)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-trash3-fill mr-2"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                                        </svg>
                                                        Delete</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <div class="edit-btn-img">
                                                <a [routerLink]="['/karta/edit-karta', karta._id]">
                                                    <img src="assets/img/edit--icon-blue.svg" class="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <div class="mt-3">
                                                <h5>{{karta?.name}}</h5>
                                                <p>{{karta?.createdAt | date:'mediumDate'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-lg-6 text-left">
                                            <div class="dropdown show">
                                                <a class=" dropdown-toggle three-dots change-acc text-body" href="#"
                                                    role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    Change access <img src="assets/img/down-arrow.svg" class="ml-2">
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="javascript:void(0);"
                                                        (click)="updateKarta('private', karta?._id, i)">Private</a>
                                                    <a class="dropdown-item" href="javascript:void(0);"
                                                        (click)="updateKarta('public', karta?._id, i)">Public</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="private d-flex">
                                                <p class="text-capitalize">{{karta?.type}}</p>
                                                <img src="assets/img/{{karta?.type}}-icon.svg" class="ml-2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="Shared-with">
                                                <h5>Shared with:</h5>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="d-flex">
                                                <ng-container *ngIf="karta?.sharedTo?.length > 0">
                                                    <div class="user-img">
                                                        <img src="assets/img/user-placeholder.svg">
                                                    </div>
                                                    <div class="user-counter" *ngIf="karta?.sharedTo?.length > 1">
                                                        <p>+{{ karta?.sharedTo?.length > 1 ? karta?.sharedTo?.length - 1
                                                            :
                                                            ''}}</p>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <!-- end-card-one -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="total-section">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-6 col-6">
                                        <h5>Total Creators</h5>
                                        <p>3</p>
                                    </div>
                                    <div class="col-lg-6 col-6 text-right">
                                        <img src="assets/img/total-creator.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-6 col-6">
                                        <h5>Total Champions</h5>
                                        <p>12</p>
                                    </div>
                                    <div class="col-lg-6 col-6 text-right">
                                        <img src="assets/img/total-champion.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-6 col-6">
                                        <h5>Total Spectators</h5>
                                        <p>24</p>
                                    </div>
                                    <div class="col-lg-6 col-6 text-right">
                                        <img src="assets/img/total-spectators.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="total-section mt-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-8 col-6">
                                        <h5>Recently Tagged</h5>
                                    </div>
                                    <div class="col-lg-4 col-6 text-right">
                                        <div class="view-all-text">
                                            <a href="javascript:void(0);">View All</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-8 col-6">
                                        <h6>10-Mar-22 10:30 AM</h6>
                                        <p class="karata-id">#Jack <span class="karata-name">Revenue Karta</span></p>
                                    </div>
                                    <div class="col-lg-4 col-6 text-right">
                                        <p><b>ROI</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-8 col-6">
                                        <h6>10-Mar-22 10:30 AM</h6>
                                        <p class="karata-id">#Jack <span class="karata-name">Revenue Karta</span></p>
                                    </div>
                                    <div class="col-lg-4 col-6 text-right">
                                        <p><b>Price</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-8 col-6">
                                        <h6>10-Mar-22 10:30 AM</h6>
                                        <p class="karata-id">#Jack <span class="karata-name">Revenue Karta</span></p>
                                    </div>
                                    <div class="col-lg-4 col-6 text-right">
                                        <p><b>Design</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-8 col-6">
                                        <h6>10-Mar-22 10:30 AM</h6>
                                        <p class="karata-id">#Jack <span class="karata-name">Revenue Karta</span></p>
                                    </div>
                                    <div class="col-lg-4 col-6 text-right">
                                        <p><b>Price</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <div class="total-inner-section pl-3 pr-3">
                                <div class="row">
                                    <div class="col-lg-8 col-6">
                                        <h6>10-Mar-22 10:30 AM</h6>
                                        <p class="karata-id">#Jack <span class="karata-name">Revenue Karta</span></p>
                                    </div>
                                    <div class="col-lg-4 col-6 text-right">
                                        <p><b>Price</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- share-link-model -->
<div class="modal fade shara-link" id="shareLinkModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h5 class="modal-title pt-0" id="staticBackdropLabel">Share Link</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="selectedUsers = undefined">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="share-link-model mt-3">
                    <div class="form-group">
                        <label>{{sharingKarta?.name}}</label>
                        <div class="row">
                            <div class="col-lg-12">
                                <ng-select [items]="users" [addTag]="addTagPromise" placeholder="Select users"
                                    [loading]="loading" [multiple]="true" bindLabel="email" [(ngModel)]="selectedUsers">
                                    <ng-template ng-tag-tmp let-search="searchTerm">
                                        <b>Add new email</b>: {{search}}
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div style="border-color: unset;" data-dismiss="" aria-label="">
                        <span aria-hidden="true">
                            <button type="button" class="send-btn" (click)="shareKarta()"
                                [disabled]="selectedUsers?.length < 1  || sharedSubmitFlag">
                                <div class="spinner-border text-light align-top" role="status" *ngIf="sharedSubmitFlag">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <ng-container *ngIf="!sharedSubmitFlag">SEND</ng-container>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-left">
                    <div class="shared-with" style="display:flex;">
                        <span>Shared with:</span>
                        <ng-container *ngIf="sharingKartaCount">
                            <span class="ml-2"><img src="../../../assets/img/user-icon.svg"></span>
                            <span class="ml-2" *ngIf="sharingKartaCount > 1">
                                <div class="user-counter">
                                    <p>+{{ sharingKartaCount - 1 }}</p>
                                </div>
                            </span>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>