.karta-icon-rename{
    width: 16px;
    color: #5186c2;
}

.img-fluid-tick {
    height: 10px;
    cursor: pointer;
}
.mode-btn{
    margin-inline-start: auto;
}

.recent_heading {
    font-size: 20px !important;
    margin-bottom: 0;
}

.recent_view {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.recent_karta {
    font-weight: 600;
    font-size: 16px;
}

.recent_node {
    font-size: 16px;
    font-weight: bold;
    color: #243864
}