<app-header></app-header>
<app-sidebar></app-sidebar>

<!-- main-section -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="page-heading">
          <h4 class="pt-3">Members</h4>
        </div>
      </div>
      <div class="col-md-6">
        <div class="search-bar">
          <form class="search-form">
            <div class="form-group search-filed inventory m-0">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                style="cursor: pointer;" viewBox="0 0 16 16" (click)="search()">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
              <input type="text" class="form-control mt-0" name="search" [(ngModel)]="search_text" id="search"
                placeholder="Search...">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                viewBox="0 0 16 16" style="cursor: pointer; margin-right: 30px; margin-top: 4px;" *ngIf="search_text"
                (click)="clearSearch()">
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
              </svg>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-3 text-right">
        <button class="karta-btn mt-2" data-toggle="modal" data-target="#memberModal" (click)="setFormType('CREATE')">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
            class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path fill-rule="evenodd"
              d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
          </svg>
          Invite
        </button>
      </div>
    </div>
    <div class="karta-setip-white-table-box">
      <div class="row">
        <div class="col-lg-12">
          <div class="member-table">
            <table class="table">
              <thead class="border-thead">
                <tr>
                  <th>Full Name</th>
                  <th>Email ID</th>
                  <th>Licence</th>
                  <th>Role</th>
                  <th>Department</th>
                  <th>Status</th>
                  <th>Date added</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="border-0">
                <tr *ngFor="let user of members">
                  <td class="short_text" style="max-width: 100px;">{{ user?.fullName }}</td>
                  <td>{{ user?.email }}</td>
                  <td>{{ user?.license?.name }}</td>
                  <td>{{ user?.Role.name.replace('_', ' ') | titlecase }}</td>
                  <td>{{ user?.department?.name ? user?.department?.name : 'N/A' }}</td>
                  <td>
                    <span *ngIf="user.active" class="table_btn_status bg-success">Active</span>
                    <span *ngIf="!user.active" class="table_btn_status bg-danger">Inactive</span>
                  </td>
                  <td>{{ user?.createdAt | date }}</td>
                  <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-pencil-fill" viewBox="0 0 16 16" data-toggle="modal" data-target="#memberModal"
                      (click)="setFormType('UPDATE', user)" style="cursor: pointer;">
                      <path
                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                    </svg>
                    <span *ngIf="!sendingCredentials || (currentSendingUserId !== user._id)" title="Send Credentials" class="ml-1 cursor_pointer" (click)="sendCredential(user._id)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16.059" viewBox="0 0 16 16.059">
                        <g id="Group_8497" data-name="Group 8497" transform="translate(-14116.767 -3543)">
                          <path id="Path_38517" data-name="Path 38517"
                            d="M176.3,97.157l-16-7.557,3.557,7.557H176.3Zm0,.945H163.855l-3.557,7.557,16-7.557Z"
                            transform="translate(13956.469 3453.4)" />
                        </g>
                      </svg>
                    </span>
                    <div class="spinner-border spinner-grow-sm ml-1" role="status" *ngIf="sendingCredentials && (currentSendingUserId === user._id)">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <span *ngIf="!user?.active" title="Activate" class="ml-1" style="cursor: pointer;" (click)="activateUser(user)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18.667" viewBox="0 0 16 18.667">
                        <path id="noun-unlock-1926243" d="M154.663,41.667h-1.333V40.333A5.323,5.323,0,0,0,142.851,39h2.093a3.332,3.332,0,0,1,6.385,1.333v1.333h-10A1.334,1.334,0,0,0,140,43v9.333a1.334,1.334,0,0,0,1.333,1.333h13.333A1.334,1.334,0,0,0,156,52.333V43a1.334,1.334,0,0,0-1.333-1.333ZM148,48.333A1.333,1.333,0,1,1,149.329,47,1.334,1.334,0,0,1,148,48.333Z" transform="translate(-139.996 -35)"/>
                      </svg>                                            
                    </span>
                    <span *ngIf="user?.active" title="Deactivate" class="ml-1" style="cursor: pointer;" (click)="deactivateUser(user)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <g id="Group_8509" data-name="Group 8509" transform="translate(-23443.762 -2449)">
                          <path id="Path_38523" data-name="Path 38523" d="M229.668,167.668A7.977,7.977,0,1,0,224,165.332,8,8,0,0,0,229.668,167.668Zm0-1.454a6.205,6.205,0,0,1-4.073-1.454l9.164-9.164a6.615,6.615,0,0,1,1.454,4.073,6.518,6.518,0,0,1-6.546,6.546Zm0-13.092a6.2,6.2,0,0,1,4.073,1.454l-9.164,9.164a6.615,6.615,0,0,1-1.454-4.073,6.518,6.518,0,0,1,6.545-6.549Z" transform="translate(23222.094 2297.332)"/>
                        </g>
                      </svg>
                    </span>
                    <span title="Delete" class="ml-1" style="cursor: pointer;" (click)="deleteUser(user)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19.556" viewBox="0 0 16 19.556">
                        <g id="noun-delete-4810783" transform="translate(-139.996 -23.332)">
                          <path id="Path_38518" data-name="Path 38518" d="M257.686,25.37H263.8a1.019,1.019,0,0,0,0-2.038h-6.115a1.019,1.019,0,0,0,0,2.038Z" transform="translate(-112.747)"/>
                          <path id="Path_38519" data-name="Path 38519" d="M155.108,116.67H140.886a.9.9,0,0,0-.77.43.836.836,0,0,0,0,.86.9.9,0,0,0,.77.43v9.459a4.23,4.23,0,0,0,1.3,3.04,4.522,4.522,0,0,0,3.143,1.259h5.333a4.522,4.522,0,0,0,3.143-1.259,4.23,4.23,0,0,0,1.3-3.04V118.39a.9.9,0,0,0,.77-.43.836.836,0,0,0,0-.86.9.9,0,0,0-.77-.43Zm-1.778,11.179a2.537,2.537,0,0,1-.781,1.824,2.712,2.712,0,0,1-1.886.756H145.33a2.712,2.712,0,0,1-1.886-.756,2.537,2.537,0,0,1-.781-1.824V118.39H153.33Z" transform="translate(0 -89.261)"/>
                          <path id="Path_38520" data-name="Path 38520" d="M281.017,241.489a1.019,1.019,0,0,0,1.019-1.019v-6.115a1.019,1.019,0,0,0-2.038,0v6.115a1.019,1.019,0,0,0,1.019,1.019Z" transform="translate(-134.765 -202.673)"/>
                          <path id="Path_38521" data-name="Path 38521" d="M374.353,241.489a1.019,1.019,0,0,0,1.019-1.019v-6.115a1.019,1.019,0,0,0-2.038,0v6.115a1.019,1.019,0,0,0,1.019,1.019Z" transform="translate(-224.611 -202.673)"/>
                        </g>
                      </svg>                      
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <ng-container *ngIf="loading">
              <div class="p-5" [innerHtml]="loader"></div>
            </ng-container>
            <ng-container *ngIf="!loading && members.length === 0">
              <div [innerHtml]="noDataAvailable"></div>
            </ng-container>
            <div class="text-center" *ngIf="!loading && totalMembers > members.length">
              <p class="view_more" (click)="viewMore()">View More..</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- add -member-Modal -->
  <div class="modal fade" id="memberModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content p-4">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
            {{checkFormType === 'CREATE' ? 'Invite': 'Update'}} {{checkFormType == 'CREATE' ? 'New' : null}} Member
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetFormModal('normal')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="share-link-model mt-3">
            <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Full Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control custom-input-share-link" placeholder="Enter name"
                      formControlName="fullName" [maxlength]="50"
                      [ngClass]="{ 'is-invalid': (submitted || form.fullName.touched) && form.fullName.errors }">
                    <div *ngIf="(submitted || form.fullName.touched) && form.fullName.errors" class="invalid-feedback">
                      <div *ngIf="form.fullName.errors.required">Full name is required!</div>
                      <div *ngIf="form.fullName.errors.pattern">Blank space is not allowed!</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control custom-input-share-link" placeholder="Enter email"
                      formControlName="email"
                      [ngClass]="{ 'is-invalid': (submitted || form.email.touched) && form.email.errors }">
                    <div *ngIf="(submitted || form.email.touched) && form.email.errors" class="invalid-feedback">
                      <div *ngIf="form.email.errors.required">Email is required!</div>
                      <div *ngIf="form.email.errors.pattern">Enter a valid email address!</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="mobile">Mobile Number <span class="text-danger">*</span></label>
                    <ngx-intl-tel-input [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
                      [enablePlaceholder]="true" [searchCountryFlag]="true"
                      [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                      [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.UnitedStates" [maxLength]=15
                      class="ngx_phone_number" [phoneValidation]="true" [separateDialCode]="separateDialCode"
                      [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="mobile"
                      [ngClass]="{ 'is-invalid': (submitted || form.mobile.touched) && form.mobile.errors }">
                    </ngx-intl-tel-input>
                    <div *ngIf="(submitted || form.mobile.touched) && form.mobile.errors" class="invalid-feedback">
                      <div *ngIf="form.mobile.errors.required">Mobile number is required!</div>
                      <div *ngIf="!form.mobile.errors.required && form.mobile.errors">Mobile number is invalid!</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Select License <span class="text-danger">*</span></label>
                    <select class="form-control custom-select-option" formControlName="licenseId"
                      [ngClass]="{ 'is-invalid': (submitted || form.licenseId.touched) && form.licenseId.errors }">
                      <option value="" selected>Select License</option>
                      <option *ngFor="let license of licenses" [value]="license.id">{{license.name}}
                      </option>
                    </select>
                    <div *ngIf="(submitted || form.licenseId.touched) && form.licenseId.errors"
                      class="invalid-feedback">
                      <div *ngIf="form.licenseId.errors.required">License is required!</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Select Role <span class="text-danger">*</span></label>
                    <select class="form-control custom-select-option" (change)="handleDepartment($event)"
                      formControlName="roleId"
                      [ngClass]="{ 'is-invalid': (submitted || form.roleId.touched) && form.roleId.errors }">
                      <option value="" selected disabled>Select Role</option>
                      <option *ngFor="let role of roles" [value]="role.id">{{ role.name.replace('_', ' ') | titlecase }}</option>
                    </select>
                    <div *ngIf="(submitted || form.roleId.touched) && form.roleId.errors" class="invalid-feedback">
                      <div *ngIf="form.roleId.errors.required">Role is required!</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6" *ngIf="showDepartment">
                  <div class="form-group">
                    <label>Select Department <span class="text-danger">*</span></label>
                    <select class="form-control custom-select-option" formControlName="departmentId"
                      [ngClass]="{ 'is-invalid': (submitted || form.departmentId.touched) && form.departmentId.errors }">
                      <option value="" selected disabled>Select Department</option>
                      <option *ngFor="let department of departments" [value]="department.id">{{department.name}}
                      </option>
                    </select>
                    <div *ngIf="(submitted || form.departmentId.touched) && form.departmentId.errors"
                      class="invalid-feedback">
                      <div *ngIf="form.departmentId.errors.required">Department is required!</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-6 text-left">
                  <button class="send-btn" [disabled]="submitFlag">
                    <div class="spinner-border text-light align-top" role="status" *ngIf="submitFlag">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <ng-container *ngIf="!submitFlag">{{checkFormType}}</ng-container>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>