.ngx_phone_number ::ng-deep input {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0;
}

.is-invalid, .ngx_phone_number.is-invalid ::ng-deep input {
    border-color: #dc3545 !important;
}

#member_modal label {
    font-weight: 500;
}

#member_modal {
    margin-top: 30px;
}