<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-heading">
                    <h4>Notifications</h4>
                </div>
            </div>
        </div>
        <div class="row" *ngFor="let notification of notifications">
            <div class="col-lg-12">
                <div class="notification-box mt-3">
                    <div class="row">
                        <div class="col-lg-9">
                            <ng-container *ngIf="notification.click_type; else nonClickAble">
                                <a [routerLink]="['/karta/', notification?.click_type, notification?.contentId]">
                                    <h6>{{ notification?.title }}</h6>
                                </a>
                            </ng-container>
                            <ng-template #nonClickAble>
                                <h6>{{ notification?.title }}</h6>
                            </ng-template>
                            <p>{{ moment(notification?.createdAt).fromNow() }}</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <div class="date-time pt-3">
                                <p>{{ notification?.createdAt | date }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>