<section id="header" class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="head_logo">
            <a [routerLink]="['/']">
                <img [src]="_commonService.getSession().companyLogo ? _commonService.MEDIA_URL+'/company/'+_commonService.getSession().companyLogo : 'assets/img/kpi-karta-logo.png'" class="navbar_logo" alt="" />
            </a>
        </div>
        </div>
        
        <!--User-Profile-->
        <div class="col-lg-6">
            <ng-container *ngIf="!_commonService.getSession().token">
                <div class="login_link">
                    <a [routerLink]="['/login']">Login</a>
                </div>
            </ng-container>
            <ng-container *ngIf="_commonService.getSession().token">
                <div class="User_profile float-right">
                    <nav class="navbar navbar-light navbar-expand-sm">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                      <div class="collapse navbar-collapse" id="navbar-list-4">
                        <ul class="navbar-nav">
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <label class="mr-2">{{_commonService.getSession().name}}</label>
                                <img [src]="_commonService.getSession().profilePic ? _commonService.MEDIA_URL+'/user/'+_commonService.getSession().profilePic : 'assets/img/avatar.png'" class="rounded-circle login_profile">
                            </a>
                            <div class="dropdown-menu custom-top-dropdwon-menu" aria-labelledby="navbarDropdownMenuLink">
                                <img src="assets/img/drop-arrow.svg" class="drop-arrow"> 
                                <a class="dropdown-item" [routerLink]="['/my-profile']"><img src="assets/img/my-profile.svg" class="mr-2"> My Profile</a>
                                <a class="dropdown-item" [routerLink]="['/my-suggestion']"><img src="assets/img/Suggestion.svg" class="mr-2"> My Suggestion</a>
                                <a class="dropdown-item" [routerLink]="['/my-plan']"><img src="assets/img/plan.svg" class="mr-2"> My Plan</a>
                                <a class="dropdown-item logout-custom" href="javascript:void(0);" (click)="logout()">
                                    <img src="assets/img/logout.svg" class="mr-1"> Log Out
                                </a>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </nav>
                  </div>
            </ng-container>
        </div>
        <!-- End User-Profile --> 
      </div>
    </div>
  </section>