<section id="common_sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="logo">
                    <a [routerLink]="['/']"><img src="assets/img/kpi-karta-logo.png" width="280" height="65" alt="" /></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mng_col">
                    <div class="login_form">
                        <h2 class="text-white text-center pb-2">Verify Your Email</h2>
                        <p class="text-white text-center mb-5">We have sent a verification code to your email.</p>
                        <form [formGroup]="verificationForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="code">Verification Code</label>
                                <input type="text" class="form-control form-control1" id="code" formControlName="code"
                                    [ngClass]="{ 'is-invalid': (submitted || form.code.touched) && form.code.errors }">
                                <div *ngIf="(submitted || form.code.touched) && form.code.errors" class="invalid-feedback">
                                    <div *ngIf="form.code.errors.required">Verification code is required!</div>
                                </div>
                            </div>
                            <button class="btn btn-outline-secondary btn-sm float-right text-white" (click)="resendCode()" [disabled]="verificationFlag">
                                <div class="spinner-border spinner-grow-sm text-light" role="status" *ngIf="verificationFlag">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <ng-container *ngIf="!verificationFlag">Resend</ng-container>
                            </button>
                            <button class="btn btn-light btn_default mb-3 mt-2" [disabled]="submitFlag">
                                <div class="spinner-border text-light align-top" role="status" *ngIf="submitFlag">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <ng-container *ngIf="!submitFlag">SUBMIT</ng-container>
                            </button>
                        </form>
                        <div class="text-white text-center">
                            <p class="text-white">Back To <a [routerLink]="['/login']" class="text-white"><strong>Login</strong></a></p>
                        </div>
                        <app-footer></app-footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>