<section id="common_sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="logo">
            <a [routerLink]="['/']">
              <img src="assets/img/kpi-karta-logo.png" width="280" height="65" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mng_col">
            <p>
                You payment successful
            </p>
            <a [routerLink]="['/login']" class="btn btn-light btn_default">
                Login
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>