<!-- main-section -->
<div class="wrapper">
    <div class="wrapper main_wrapper">
       <nav id="sidebar-two">
          <div class="box-inner">
              <div class="row mt-3 mb-3">
                  <div class="col-lg-12">
                      <div class="search-bar">
                          <form class="search-form">
                              <div class="form-group search-filed side-bar-search m-0">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search cursor_pointer" viewBox="0 0 16 16">
                                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                  </svg>
                                  <input type="text" class="form-control" name="search" id="search" placeholder="Search..." />
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg clear_search_icon" viewBox="0 0 16 16">
                                      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                  </svg>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <div class="inventory_sidebar_accordion">
                      <div id="accordion">
                          <div class="card custom_accordion">
                              <div class="card-header accordion_header_custom" id="headingOne">
                                  <h5 class="mb-0">
                                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          Branches
                                      </button>
                                      <button class="btn btn-link see_all_btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          See All
                                      </button>
                                  </h5>
                              </div>
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                  <div class="card-body">
                                      <div class="row">
                                          <div class="col-lg-6 mb-2">
                                              <div class="card custom-card side-bar-card">
                                                  <div class="goal-img cursor_pointer" id="root" draggable="true">
                                                      <img src="/assets/img/branch.png" id="step2" data-step="2" class="img-fluid" />
                                                      <p>Empty</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="line-slide-bar"></div>
                          <div class="card custom_accordion">
                              <div class="card-header accordion_header_custom" id="headingTwo">
                                  <h5 class="mb-0">
                                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Measure
                                      </button>
                                      <button class="btn btn-link see_all_btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                          See All
                                      </button>
                                  </h5>
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                  <div class="card-body">
                                      <div class="row">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="line-slide-bar"></div>
                          <div class="card custom_accordion">
                              <div class="card-header accordion_header_custom" id="headingThree">
                                  <h5 class="mb-0">
                                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          Metric
                                      </button>
                                      <button class="btn btn-link see_all_btn" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                                          See All
                                      </button>
                                  </h5>
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                  <div class="card-body">
                                      <div class="row">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="line-slide-bar"></div>
      </nav>
      <button type="button" id="sidebarCollapse" class="btn btn-info cutom-toggle sidebar_collapsible_btn">
          <img src="assets/img/side-arrow-right.svg" alt="" />
      </button>
     <!-- Page Content  -->
     <div id="content" class="karta-edit-contnet">
        <!-- Karta header -->
        <div class="karta-edit-header" [ngStyle]="{'padding-left': (_commonService.getSession() && _commonService.getSession().token) ? '118px': '18px' }">
           <div class="row no-gutters">
              <div class="col-lg-12">
                 <div class="row no-gutters">
                   <div class="col-lg-6">
                      <div class="row">
                         <div class="col-lg-3 pr-0">
                            <div class="karta-name">
                               <p [title]="karta?.name" class="short_text">{{karta?.name}}</p>
                            </div>
                         </div>
                         <div class="col-lg-2 pl-0" id="step7">
                            <div class="select-karta-name">
                               <select class="form-control custom-select-karta"
                               [(ngModel)]="versionId">
                               <option *ngFor="let ver of version" [value]="ver.id">Version {{ver.name}}</option>
                               </select>
                            </div>
                         </div>
                         <div class="col-lg-2 align-self-center undo_redo_btn" id="step8">
                            <a title="Undo" id="UndoAnchor"><img src="assets/img/Undo.svg"
                               class="img-fluid"></a>
                            <a title="Redo" id="RedoAnchor"><img src="assets/img/Redo.svg"
                               class="img-fluid"></a>
                            <img src="assets/img/reset-zoom.svg" class="img-fluid" title="Reset Zoom" id="reset_zoom_btn">
                         </div>
                         <div class="col-lg-4 ml-2 p-0">
                            <div class="time-select-karta">
                               <span class="last-saved">Last Saved:</span><span> {{karta?.updatedAt | date:'d/M/yy, H:mm'}}</span>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="col-lg-6">
                      <div class="row no-gutters">
                         <div class="col-lg-3" id="step9">
                            <div class="select-karta-name">
                               <select class="form-control custom-select-karta-mode" id="chartMode">
                                  <option value="enable">Editor Mode</option>
                                  <option value="disable">Viewer Mode</option>
                               </select>
                            </div>
                         </div>
                         <div class="col-lg-2 text-center">
                            <button type="button" class="btn bg-light border" data-toggle="modal" data-target="#viewKartaModal">View</button>
                         </div>
                         <div class="col-lg-3 p-0">
                            <div class="icon-karta">
                               <!-- Share karta -->
                               <a href="javascript:void(0);" data-toggle="modal" data-target="#shareKartaModal" title="Share"><img
                                  src="assets/img/share-icon.svg"></a>
                               <!-- Export Karta -->
                               <div class="dropdown show">
                                  <a class=" dropdown-toggle three-dots" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                     aria-haspopup="true" aria-expanded="false" title="Export">
                                  <img src="assets/img/download-icon.svg">
                                  </a>
                                  <div class="dropdown-menu export" aria-labelledby="dropdownMenuLink">
                                     <img src="assets/img/drop-arrow.svg" class="drop-arrow">
                                     <a class="dropdown-item" href="javascript:void(0);">
                                     <img src="assets/img/csv.svg" class="mr-2"> Export to CSV
                                     </a>
                                     <a class="dropdown-item" href="javascript:void(0);">
                                     <img src="assets/img/pdf.svg" class="mr-2"> Export to PDF
                                     </a>
                                     <a class="dropdown-item border-0" href="javascript:void(0);">
                                     <img src="assets/img/img.svg" class="mr-2"> Export to Image
                                     </a>
                                  </div>
                               </div>
                               <!-- Filter Karta -->
                               <div class="dropdown filter-option m-0">
                                  <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                                     id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false" title="Filter">
                                  <img src="assets/img/filter.svg" class="">
                                  </button>
                               </div>
                            </div>
                         </div>
                         <div class="col-lg-4">
                            <div class="save-setting-btn">
                               <button type="button" class="save-btn-karta mr-1">Save</button>
                               <div class="dropdown">
                                  <button class="dropbtn dropdown-toggle px-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false" title="Settings"><img src="assets/img/settings.svg"></button>
                               </div>
                               <a href="javascript:void(0);" title="Info"><img src="assets/img/information.svg"></a>
                            </div>
                         </div>
                      </div>
                   </div>
                 </div>
              </div>
           </div>
        </div>
        <!-- Karta SVG Chart -->
        <div class="main-center-content d-flex mb-3" [ngStyle]="{'margin-left': (_commonService.getSession() && _commonService.getSession().token) ? '100px': '0' }">
           <div class="center-content mt-4 w-100">
              <div class="row tab-content-center">
                 <div class="phase_column">
                    <div class="vertical-tabs">
                       <ul class="nav nav-tabs" role="tablist">
                          <li class="nav-item" *ngFor="let phase of phases">
                             <a class="nav-link text-nowrap">{{phase?.name}}</a>
                          </li>
                       </ul>
                    </div>
                 </div>
                 <div class="karta_column">
                   <div class="tab-pane active">
                       <ng-container *ngIf="loadingKarta">
                           <div class="p-5" [innerHtml]="loader"></div>
                       </ng-container>
                       <div id="karta-svg" [hidden]="!showSVG || loadingKarta"></div>
                       <div [hidden]="showSVG || loadingKarta">
                           <ng-container *ngFor="let phase of phases; let i = index">
                               <div *ngIf="i == 0"
                                   class="karta_dummy_lines"
                                   [id]="'svg_line_' + phase?.id"
                                   [attr.name]="phase?.name"
                               >
                                   <button class="btn btn-sm btn-light" id="step1"><i class="fa fa-plus-circle"></i> Goal</button>
                               </div>
                               <div *ngIf="i > 0"
                                   class="karta_dummy_lines"
                                   [id]="'svg_line_' + phase?.id"
                                   [attr.name]="phase?.name"
                               >
                               </div>
                           </ng-container>
                       </div>
                   </div>
               </div>
              </div>
           </div>
 
           <!-- Sidebar -->
           <div class="right_sidebar_overlay"></div>
            <div class="right-side-bar" id="rightSidebar">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="goal-name mt-3">
                            <h6>Name</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="search-sugg mt-3">
                            <input type="text" value="KPI Node" class="form-control" />
                        </div>
                    </div>
                </div>
                <!-- Weightage -->
                <ng-container>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="goal-name mt-3">
                                <h6>Weighting</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="search-sugg mt-3">
                                <input
                                    type="number"
                                    class="form-control"
                                    value="100"
                                />
                            </div>
                        </div>
                    </div>
                </ng-container>
                <div class="row mt-4" id="step4">
                    <div class="col-lg-12">
                        <div class="right-side-bar-content">
                            <h5>Definition</h5>
                            <p>Definition of the selected KPI node.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-12">
                        <div class="right-side-bar-content">
                            <h5>Suggestions</h5>
                            <div class="description_div">
                                <ng-container>
                                    <p>Suggestion</p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <h5>Typography</h5>
                    </div>
                </div>
                <div class="row mt-4" id="step5">
                    <div class="col-lg-5">
                        <h6 class="pt-2">Font Style</h6>
                    </div>
                    <div class="col-lg-7">
                        <select class="form-control font-style">
                            <option value="system-ui">System-UI</option>
                            <option value="sans-serif">Sans-Serif</option>
                            <option value="monospace">Monospace</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-5">
                        <h6 class="pt-2">Alignment</h6>
                    </div>
                    <div class="col-lg-7">
                        <div>
                            <span>
                                <a style="cursor: pointer;">
                                    <img src="assets/img/left-align.svg" class="img-fluid mr-2 font_alignment_img" />
                                </a>
                            </span>
                            <span>
                                <a style="cursor: pointer;">
                                    <img src="assets/img/center-align.svg" class="img-fluid font_alignment_img" />
                                </a>
                            </span>
                            <span>
                                <a style="cursor: pointer;">
                                    <img src="assets/img/right-align.svg" class="img-fluid ml-2 font_alignment_img" />
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-5">
                        <h6 class="pt-2">Text Color</h6>
                    </div>
                    <div class="col-lg-7">
                        <div class="color-picker">
                            <input type="color" id="colorpicker" value="#000000" style="cursor: pointer;" />
                        </div>
                    </div>
                </div>
                <div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>Type</h5>
                        </div>
                    </div>
                    <div class="row mt-3" id="step6">
                        <div class="col-lg-12">
                            <select class="form-control type-select">
                                <option value="measure">Measure</option>
                                <option value="metrics">Metrics</option>
                            </select>
                        </div>
                    </div>
                    <!-- Common Values -->
                    <div class="common">
                        <!-- Start Date -->
                        <div class="row mt-3">
                            <div class="col-lg-6">
                                <div class="selct-option-side-r">
                                    <label>Start Date</label>
                                    <input type="date" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="selct-option-side-r">
                                    <label>Days to Calculate</label>
                                    <select class="form-control" value="business">
                                        <option value="all">All Days</option>
                                        <option value="business">Business Days</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Fiscal Year -->
                        <div class="row mt-3">
                            <div class="col-lg-12">
                                <h5>Fiscal Year</h5>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="selct-option-side-r">
                                            <label>Start Date</label>
                                            <input type="date" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="selct-option-side-r">
                                            <label>End Date</label>
                                            <input type="date" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <!-- Target Value -->
                        <label class="text-nowrap font_weight_500">Target Value</label>
                        <ng-container>
                            <div class="row mt-2 mb-4">
                                <div class="col-lg-5 pr-0">
                                    <div class="target_select selct-option-side-r">
                                        <select class="form-control" value="monthly">
                                            <option value="monthly">Monthly</option>
                                            <option value="quarterly">Quarterly</option>
                                            <option value="yearly">Yearly</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 px-2">
                                    <div class="custom-input-side-r-flow">
                                        <input type="number" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-3 d-flex px-2">
                                    <div class="cursor_pointer">
                                        <img src="assets/img/icons8-remove-30.png" id="delete_btn" class="img-fluid" />
                                    </div>
                                    <div class="cursor_pointer">
                                        <img src="assets/img/add-btn-side-r.svg" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <!-- Target Label -->
                        <input type="text" class="form-control" />
                        <!-- Achieved Value -->
                        <div class="row mt-3">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="font_weight_500">Achieved Value</label>
                                    <input
                                        type="number"
                                        class="form-control"
                                    />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <!-- KPI Calculation Periods -->
                        <div class="row mt-3">
                            <div class="col-lg-12">
                                <div class="selct-option-side-r">
                                    <label>KPI Calculation Periods</label>
                                    <select class="form-control" value="monthly">
                                        <option value="monthly">One-time monthly target</option>
                                        <option value="month-to-date">Month to date</option>
                                        <option value="year-to-date">Year to date</option>
                                        <option value="month-over-month">Month over month</option>
                                        <option value="year-over-year">Year over year</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row mt-3">
                            <div class="col-lg-6">
                                <h5>Contributor</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ng-select placeholder="Select user">
                                    <ng-option>
                                        Contributor
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!-- Person to Notify -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="selct-option-side-r">
                                <label>Person to Notify</label>
                                <select class="form-control">
                                    <option value="" selected>Select</option>
                                    <option value="owner">KPI Owner</option>
                                    <option value="specific">Specific Person</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!-- Alerts div -->
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <h5>Alerts</h5>
                        </div>
                        <div class="col-lg-6">
                            <div class="selct-option-side-r">
                                <label>Period</label>
                                <select class="form-control">
                                    <option value="" selected>Select period</option>
                                    <option value="monthly">Monthly</option>
                                    <option value="quarterly">Quarterly</option>
                                    <option value="yearly">Yearly</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="selct-option-side-r">
                                <label>Type</label>
                                <select class="form-control">
                                    <option value="" selected>Select type</option>
                                    <option value="notification">Notify at login</option>
                                    <option value="email">On email</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
    </div>
  </div>