<section id="common_sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="logo">
                    <a href="https://kpikarta.com" target="_blank"><img src="assets/img/kpi-karta-logo.png" width="280" height="65" alt="" /></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mng_col">
                    <div class="login_form">
                        <h2 class="text-white text-center py-4">Signup</h2>

                        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="fullName">Full Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control form-control1" id="fullName" formControlName="fullName" [maxlength]="50"
                                    [ngClass]="{ 'is-invalid': (submitted || form.fullName.touched) && form.fullName.errors }">
                                <div *ngIf="(submitted || form.fullName.touched) && form.fullName.errors" class="invalid-feedback">
                                    <div *ngIf="form.fullName.errors.required">Full name is required!</div>
                                    <div *ngIf="form.fullName.errors.pattern">Blank space is not allowed!</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">Email <span class="text-danger">*</span></label>
                                <input type="email" class="form-control form-control1" id="email" formControlName="email"
                                    [ngClass]="{ 'is-invalid': (submitted || form.email.touched) && form.email.errors }">
                                <div *ngIf="(submitted || form.email.touched) && form.email.errors" class="invalid-feedback">
                                    <div *ngIf="form.email.errors.required">Email is required!</div>
                                    <div *ngIf="form.email.errors.pattern">Enter a valid email address!</div>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="!user.userId">
                                <label for="password">Password <span class="text-danger">*</span></label>
                                <input type="password" class="form-control form-control1" id="password" formControlName="password" [maxlength]="32"
                                    [ngClass]="{ 'is-invalid': (submitted || form.password.touched) && form.password.errors }">
                                <div *ngIf="(submitted || form.password.touched) && form.password.errors" class="invalid-feedback">
                                    <div *ngIf="form.password.errors.required">Password is required!</div>
                                    <div *ngIf="form.password.errors.pattern">Password should contain at least 1 number,
                                        1 lowercase, 1 uppercase, 1 special character and must include at least 8 digits.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="!user.userId">
                                <label for="confirmPassword">Confirm Password <span class="text-danger">*</span></label>
                                <input type="password" class="form-control form-control1" id="confirmPassword" formControlName="confirmPassword" [maxlength]="32"
                                    [ngClass]="{ 'is-invalid': (submitted || form.confirmPassword.touched) && form.confirmPassword.errors }">
                                <div *ngIf="(submitted || form.confirmPassword.touched) && form.confirmPassword.errors" class="invalid-feedback">
                                    <div *ngIf="form.confirmPassword.errors.required">Confirm password is required!</div>
                                    <div *ngIf="form.confirmPassword.errors.pattern">Password should contain at least 1 number,
                                        1 lowercase, 1 uppercase, 1 special character and must include at least 8 digits.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="w-100" for="mobile">Mobile Number <span class="text-danger">*</span></label>
                                <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                                [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                                [selectedCountryISO]="CountryISO.UnitedStates" [maxLength]=15 class="form-control ngx_phone_number"
                                [phoneValidation]="true" [separateDialCode]="separateDialCode"
                                [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="mobile" 
                                [ngClass]="{ 'is-invalid': (submitted || form.mobile.touched) && form.mobile.errors }">
                                </ngx-intl-tel-input>
                                <div *ngIf="(submitted || form.mobile.touched) && form.mobile.errors" class="invalid-feedback">
                                    <div *ngIf="form.mobile.errors.required">Mobile number is required!</div>
                                    <div *ngIf="!form.mobile.errors.required && form.mobile.errors">Mobile number is invalid!</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="companyName">Organization Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control form-control1" id="companyName" formControlName="companyName" [maxlength]="50"
                                    [ngClass]="{ 'is-invalid': (submitted || form.companyName.touched) && form.companyName.errors }">
                                <div *ngIf="(submitted || form.companyName.touched) && form.companyName.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="form.companyName.errors.required">Organization name is required!</div>
                                    <div *ngIf="form.companyName.errors.pattern">Blank space is not allowed!</div>
                                </div>
                            </div>

                            <button class="btn btn-light btn_default mb-3 mt-5" [disabled]="submitFlag">
                                <div class="spinner-border text-light align-top" role="status" *ngIf="submitFlag">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <ng-container *ngIf="!submitFlag">NEXT</ng-container>
                            </button>
                        </form>

                        <div class="text-white text-center">
                            <p class="text-white">Already have an account? Please
                                <a [routerLink]="['/login']" class="text-white"><strong>login</strong></a>
                            </p>
                        </div>
                        <app-footer></app-footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>