<app-header></app-header>
<section id="contain_sec">
</section>
<section id="plan" class="mt-2 mb-5">
    <div [innerHTML]="loadingComponent" class="mt-5" *ngIf="loader"></div>
    <div class="container" *ngIf="!loader">
        <div class="d-flex justify-content-center flex-column align-items-center">
            <div class="col-md-6">
                <div class="basic_plan pt-5">
                    <div class="d-flex justify-content-between">
                        <div class="item_middle mx-auto">
                            <h4>Select Creator License </h4>
                            <p>(First {{ plans?.year?.trial_period }} days free. No Credit Card required. Cancel any time!)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" *ngIf="!submitFlag && plans?.month">
                <div class="row">
                    <div class="col-sm-6 pr-0">
                        <div class="basic_plan">
                            <h1>${{ plans ? plans?.month?.price/100 : "" }}/month</h1>
                            <div class="row">
                                <div class="col-sm-12 mt-2 text-center">
                                    <button class="btn_sty_2" (click)="selectPlan(plans?.month?.id)" [disabled]="submitFlag">
                                        Select Plan
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 pl-0">
                        <div class="basic_plan">
                            <h1>${{ plans ? plans?.year?.price/100 : "" }}/year</h1>
                            <div class="row">
                                <div class="col-sm-12 mt-2 text-center">
                                    <button class="btn_sty_2" (click)="selectPlan(plans?.year?.id)" [disabled]="submitFlag">
                                        Select Plan
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Loader starts -->
            <div class="col-md-6" *ngIf="submitFlag">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="basic_plan">
                            <div [innerHTML]="loadingComponent" class="mt-5"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Loader ends -->
            <div class="col-md-6">
                <div class="basic_plan pb-5 pt-4">
                    <div class="row">
                        <div class="col-sm-10 mt-3">Create and edit Kartas</div>
                        <div class="col-sm-2 mt-3"><img src="assets/img/check_icon.png" alt="" /></div>
                        <div class="col-sm-10 mt-3">Save Kartas, Branches, Measures, and Metrics for reuse</div>
                        <div class="col-sm-2 mt-3"><img src="assets/img/check_icon.png" alt="" /></div>
                        <div class="col-sm-10 mt-3">Share Elements (Kartas, Branches, Measures, and Metrics)</div>
                        <div class="col-sm-2 mt-3"><img src="assets/img/check_icon.png" alt="" /></div>
                        <div class="col-sm-10 mt-3">Enter and edit KPI Targets and Actuals</div>
                        <div class="col-sm-2 mt-3"><img src="assets/img/check_icon.png" alt="" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>