<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main-content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <h4 class="mt-2 mb-4">Billing</h4>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="KPI-billing-tab"> 
            <div class="row">
              <div class="col-lg-12">
                  <div *ngIf="overview" class="overview mt-4">
                      <div class="heading">
                          <h5 class="m-0">Member Information</h5>
                          <div>
                            <!-- <button *ngIf="overview.interval" type="button" [class]="overview.interval && overview.interval == 'Trial' ? 'btn overview-btn mr-2' : 'btn overview-btn'">{{ overview ? (overview.interval && overview.interval == 'Trial' ? ((overview.interval | titlecase) + " ends on: " + overview.trialEnds) : (overview.interval | titlecase)) : "N/A" }}</button> -->
                            <a class="btn btn-dark cancel-btn mr-2" href="{{chargebeePortalUrl}}">Manage Payment</a>
                            <button class="btn btn-danger cancel-btn mr-2" (click)="cancelSubscription()" [disabled]="disableCancelBtn">Cancel Subscription</button>
                            <button *ngIf="overview.interval" type="button" class="btn cursor_default overview-btn">{{ overview ? (overview.interval | titlecase) : "N/A" }}</button>
                            <!-- <button *ngIf="overview.interval && overview.interval == 'Trial'" (click)="cancelTrial()" [disabled]="disableCancelBtn" type="button" class="btn cancel-btn btn-danger">Cancel Trial</button> -->
                          </div>
                      </div>
                      <div *ngIf="overview?.status == 'in_trial'" class="d-flex justify-content-between">
                        <p class="mt-2 mb-0 trial-font">Trial started at: <span class="font-weight-normal">{{ overview?.trialStart | date: 'mediumDate'}}</span></p>
                        <p class="mt-2 mb-0 trial-font">Trial ends on: <span class="font-weight-normal">{{ overview?.trialEnd | date: 'mediumDate'}}</span></p>
                      </div>
                      <div class="creators" *ngFor="let user of overview.userDetails">
                          <div class="creaters-header">
                              <h6>{{ user.license ? (user.license | titlecase) : "N/A" }}</h6>
                              <p>{{ user.count ? (user.count) : "0" }} {{ user.count == 1 ? 'member' : 'members'}}</p>
                          </div>
                          <div *ngIf="overview.interval" class="creaters-info text-right">
                              <h6>{{user.amount == "Free" ? null : "$"}}{{ (user.amount || user.amount == 0) ? (user.amount) : "0.00" }}</h6>
                              <p>${{ (user.unit_price || user.unit_price == 0) ? (user.unit_price) : "0.00" }} per Member</p>
                          </div>
                      </div>
                  </div>
                  <div *ngIf="!overview && !loadingOverview" class="py-5">
                    <div [innerHtml]="noDataAvailable"></div>
                  </div>
                  <ng-container *ngIf="loadingOverview">
                    <div [innerHtml]="loader" class="mt-4"></div>
                  </ng-container>
              </div>
          </div>
          </div>
        </div>
      </div>  
    </div>
  
</div>



<!-- Confirm modal -->
<div class="modal fade" id="confirmModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-body">
              <p id="confirm_message"></p>
          </div>
          <div class="modal-footer">
              <button type="button" id="btnNo" class="btn btn-secondary">No</button>
              <button type="button" id="btnYes" class="btn btn-primary">Yes</button>
          </div>
      </div>
  </div>
</div>