<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-heading">
                    <h4>Notification</h4>
                </div>
            </div>
        </div>
        <div class="row" *ngFor="let notification of notifications">
            <div class="col-lg-12">
                <div class="notification-box mt-3">
                    <div class="row">
                        <div class="col-lg-9">
                            <h6>{{notification.title}}</h6>
                            <p>50 Minutes ago</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <div class="date-time pt-3">
                                <p>Feb 22, 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>