<section id="common_sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="logo">
          <a [routerLink]="['/']"><img src="assets/img/kpi-karta-logo.png" width="280" height="65" alt="" /></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mng_col">
          <div class="login_form">
            <h2 class="text-white text-center pb-4">Login</h2>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control form-control1" id="email" formControlName="email"
                  [ngClass]="{ 'is-invalid': (submitted || form.email.touched) && form.email.errors }">
                <div *ngIf="(submitted || form.email.touched) && form.email.errors" class="invalid-feedback">
                  <div *ngIf="form.email.errors.required">Email is required!</div>
                  <div *ngIf="form.email.errors.pattern">Enter a valid email address!</div>
                </div>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control form-control1" id="password" formControlName="password"
                  maxlength="24"
                  [ngClass]="{ 'is-invalid': (submitted || form.password.touched) && form.password.errors }">
                <div *ngIf="(submitted || form.password.touched) && form.password.errors" class="invalid-feedback">
                  <div *ngIf="form.password.errors.required">Password is required!</div>
                </div>
              </div>

              <div class="form-group mb-1">
                <input type="checkbox" name="remember" id="remember" class="custom-control-inline mr-2">
                <label for="remember">Remember me</label>
              </div>

              <button class="btn btn-light btn_default" [disabled]="submitFlag">
                <div class="spinner-border text-light align-top" role="status" *ngIf="submitFlag">
                  <span class="sr-only">Loading...</span>
                </div>
                <ng-container *ngIf="!submitFlag">Submit</ng-container>
              </button>
            </form>

            <div class="max_center_400">
              <div class="cre_fog">
                <a class="cre_ac" [routerLink]="['/sign-up']">Create Account</a>
                <a class="for_pass" [routerLink]="['/forgot-password']">Forgot Password</a>
              </div>
              <!-- Or -->
              <div class="or">
                <img src="assets/img/or.png" width="55" height="55" class="ori" alt="" />
              </div>
              <!-- Social logins -->
              <div class="social_login">
                <h5 class="text-white text-center">Sign In Using</h5>
                <ul>
                  <li>
                    <a href="{{facebookUrl}}">
                      <img src="assets/img/facebook.png" width="50" height="50" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="{{googleUrl}}">
                      <img src="assets/img/google.png" width="50" height="50" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="{{linkedInUrl}}">
                      <img src="assets/img/linkedin.png" width="50" height="50" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <app-footer></app-footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>