<section id="common_sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="logo">
          <a href="https://kpikarta.com" target="_blank"><img src="assets/img/kpi-karta-logo.png" width="280" height="65" alt="" /></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mng_col">
          <div class="login_form">
            <h2 class="text-white text-center pb-4">Login</h2>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control form-control1" id="email" formControlName="email"
                  [ngClass]="{ 'is-invalid': (submitted || form.email.touched) && form.email.errors }">
                <div *ngIf="(submitted || form.email.touched) && form.email.errors" class="invalid-feedback">
                  <div *ngIf="form.email.errors.required">Email is required!</div>
                  <div *ngIf="form.email.errors.pattern">Enter a valid email address!</div>
                </div>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <div class="position-relative d-flex align-items-center">
                  <input type="password" class="form-control form-control1 password_input" id="password" formControlName="password" [maxlength]="32"
                  [ngClass]="{ 'is-invalid': (submitted || form.password.touched) && form.password.errors }">
                  <span class="show_password" (click)="toggleShowPassword()">
                    <i class="fa fa-eye" id="password_icon" title="Show password"></i>
                  </span>
                </div>
                <div *ngIf="(submitted || form.password.touched) && form.password.errors" class="invalid-feedback d-block">
                  <div *ngIf="form.password.errors.required">Password is required!</div>
                </div>
              </div>

              <div class="form-group mb-1 d-flex">
                <input type="checkbox" id="remember" class="custom-control-inline mb-1 mr-2" formControlName="rememberMe">
                <label for="remember">Remember Me</label>
              </div>

              <button class="btn btn-light btn_default" [disabled]="submitFlag">
                <div class="spinner-border text-light align-top" role="status" *ngIf="submitFlag">
                  <span class="sr-only">Loading...</span>
                </div>
                <ng-container *ngIf="!submitFlag">Submit</ng-container>
              </button>
            </form>

            <div class="max_center_400">
              <div class="cre_fog">
                <a class="cre_ac" [routerLink]="['/sign-up']">Create Account</a>
                <a class="for_pass" [routerLink]="['/forgot-password']">Forgot Password</a>
              </div>
              <!-- Or -->
              <div class="or">
                <img src="assets/img/or.png" width="55" height="55" class="ori" alt="" />
              </div>
              <!-- Social logins -->
              <div class="social_login">
                <h5 class="text-white text-center">Sign In Using</h5>
                <ul>
                  <li>
                    <a href="{{facebookUrl}}">
                      <img src="assets/img/facebook.png" width="50" height="50" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="{{googleUrl}}">
                      <img src="assets/img/google.png" width="50" height="50" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="{{linkedInUrl}}">
                      <img src="assets/img/linkedin.png" width="50" height="50" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <app-footer></app-footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Confirm modal -->
<div class="modal fade" id="confirmModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-body">
              <p id="confirm_message"></p>
          </div>
          <div class="modal-footer">
              <button type="button" id="btnNo" class="btn btn-secondary">No</button>
              <a class="btn btn-dark" id="btnYes" href="{{chargebeePortalUrl}}">Manage Subscription</a>
          </div>
      </div>
  </div>
</div>