<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12" [ngClass]="{ 'disableDiv': submitFlag || deleteFlag || isLoading }">
        <div class="my_suggestions">
          <h3 class="mt-2 mb-4">MY SUGGESTIONS</h3>
          <!-- Settings Tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item nav-item-cus" *ngFor="let phase of phases; let i=index" [attr.data-index]="i">
              <a class="nav-link nav-link-cus" [ngClass]="{ 'active': i == 0 }" (click)="onPhaseChange(phase.id)"
                data-toggle="tab" [attr.id]="phase.id" href="#tab-1" role="tab">{{phase.name}}</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content tab-content-cus">
            <div class="tab-pane active" id="tab-1" role="tabpanel">
              <form [formGroup]="suggestionForm" (ngSubmit)="onSubmit()">
                <h5 class="mt-4 mb-3">Definition</h5>
                <!-- <textarea class="my-sug-area" rows="4" cols="30" formControlName="definition"
                  [ngClass]="{ 'border-danger': (submitted || suggestionForm.get('definition')?.touched) && suggestionForm.get('definition')?.errors }"></textarea> -->
                  <ck-editor formControlName="definition" [config]="config" [spellcheck]="true" name="definition"></ck-editor>
                <div class="invalid-feedback d-block"
                  *ngIf="(submitted || suggestionForm.get('definition')?.touched) && suggestionForm.get('definition')?.errors">
                  <div *ngIf="suggestionForm.get('definition')?.hasError('required')">Definition is required!</div>
                </div>
  
                <ng-container formArrayName="descriptions">
                  <ng-container *ngFor="let descriptionForm of descriptions.controls; let i=index">
                    <div class="d-flex justify-content-between" [ngClass]="{ 'mt-5': i==0 }">
                      <h5 class="align-self-center" *ngIf="i == 0">Suggestions</h5>
                      <div class="ml-auto mb-1 mt-2">
                        <a class="mr-1" href="javascript:void(0);" (click)="enableDescription(i)">
                          <img src="assets/img/edit.png" alt="" width="32" height="32">
                        </a>
                        <a href="javascript:void(0);" (click)="removeDescription(i)" *ngIf="descriptions.controls.length > 1">
                          <img src="assets/img/delete.png" alt="" width="32" height="32">
                        </a>
                        <a href="javascript:void(0);" (click)="addDescriptions()" *ngIf="i == 0">
                          <img src="assets/img/add_btn.png" alt="" width="40" height="40">
                        </a>
                      </div>
                    </div>
                    <div [formGroupName]="i">
                      <textarea class="my-sug-area" rows="4" cols="30" formControlName="description" [attr.id]="'textarea'+i"
                        [ngClass]="{ 'border-danger': (submitted || descriptionForm.get('description')?.touched) && descriptionForm.get('description')?.errors }"></textarea>
                      <div
                        *ngIf="(submitted || descriptionForm.get('description')?.touched) && descriptionForm.get('description')?.errors"
                        class="invalid-feedback d-block">
                        <div *ngIf="descriptionForm.get('description')?.hasError('required')">Description is required!
                        </div>
                        <div *ngIf="descriptionForm.get('description')?.hasError('pattern')">Blank space is not allowed!
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
  
                <button class="btn btn-default float-left btn_sty_1 mt-2" [disabled]="submitFlag">
                  <div class="spinner-border text-light align-top" role="status" *ngIf="submitFlag">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <ng-container *ngIf="!submitFlag">Save</ng-container>
                </button>
                <button type="button" class="btn btn-default float-right reset-btn" (click)="deleteSuggestion()"
                  [disabled]="deleteFlag">
                  <div class="spinner-border text-light align-top" role="status" *ngIf="deleteFlag">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <ng-container *ngIf="!deleteFlag">Reset</ng-container>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>