.right_sidebar_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 994;
    display: none;
}
.right_sidebar_overlay.open {
    display: block;
}

.sidebar_collapsible_btn {
    z-index: 999;
    top: 50%;
    position: fixed;
    left: 100px;
    transition: left 0.2s ease-in-out;
}

.sidebar_collapsible_btn.show {
    left: 358px;
}

.right-side-bar.open {
    right: 0;
}

.phase_column ul {
    width: 100%;
}

.karta_column {
    width: 77%;
    flex: 1 1 auto;
}

.karta_dummy_lines {
    height: 65px;
}

.description_div {
    max-height: 100px;
    overflow-y: scroll;
}

.selectedPhase {
    background-color: #4c659e80;
}

.karta_dummy_lines button {
    display: none;
}

.selectedPhase:hover button {
    display: block;
}

.selected_alignment,
.font_alignment_img:hover {
    background: #ccc;
    border-radius: 2px;
    padding: 3px;
}

#target_input {
    margin-top: 0px !important;
}

#measure_select {
    -webkit-appearance: auto !important;
}

.formula-value {
    border: none;
    background-color: transparent;
    font-weight: 600;
}

.add-icon:hover {
    cursor: pointer;
}

.remove-icon:hover {
    cursor: pointer;
}

::ng-deep .dropdown-list ul {
    width: auto !important;
}

::ng-deep .dropdown-btn .selected-item:hover {
    box-shadow: none !important;
}

::ng-deep .multiselect-dropdown .dropdown-btn{
height: 100px !important;
overflow: auto;
}

::ng-deep .multiselect-dropdown .dropdown-btn .selected-item{
 margin-top: 4px!important;
}

.field-options {

}

.field-options:hover {
    cursor: pointer;
    background-color: #F5FAFF;
}

.color-range-box {
    cursor: pointer;
}

#colorPicker {
    border: 0;
    background-color: transparent;
    height: 32px;
    width: 30px;
}

#colorPicker2 {
    z-index: -1;
    width: 0;
    display: block;
    margin-top: -37px;
    visibility: hidden;
}

.above100 label {
    cursor: pointer;
}
.above100 label img {
    height: 30px;
}

::ng-deep {
    .ngx-slider .ngx-slider-pointer, .ngx-slider .ngx-slider-selection {
        background-color: #345DBB !important;
    }
    .ngx-slider .ngx-slider-pointer {
        width: 13px !important;
        height: 13px !important;
    }
    .ngx-slider .ngx-slider-pointer:after {
        display: none;
    }
    .ngx-slider .ngx-slider-bar-wrapper {
        padding-top: 7px !important;
    }
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
  }
  
  .panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
  }
  
  .panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: #eee;
    color: #333;
  }
  
  .panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-color: #4c659e;
    padding: 6px 0px 3px 8px;
    color: #fff;
    border-radius: 50px;
    height: 25px;
    width: 25px;
  }
  
  .panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #4c659e;
    padding: 6px 0px 3px 8px;
    color: #fff;
    border-radius: 50px;
    height: 25px;
    width: 25px;
  }
  .show-on-hover:hover>ul.dropdown-menu {
    display: block;
  }

  button.btn.btn-default.dropdown-toggle.arrow-hide-setting::after {
    display: none;
  }

  ul.dropdown-menu.custom-dropdown-item-show {
    margin: 0 0 0 -180px;
  }