<app-header></app-header>
<app-sidebar></app-sidebar>
<!-- main-section -->
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar-two">
    <div class="box-inner">
      <div class="row mt-3 mb-3">
        <div class="col-lg-12">
          <div class="search-bar">
            <form action="" class="search-form">
              <div class="form-group search-filed side-bar-search m-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                  viewBox="0 0 16 16">
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
                  </path>
                </svg>
                <input type="text" class="form-control" name="search" id="search" placeholder="Search...">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row mb-3">
        <div class="col-lg-6 text-left">
          <div class="slider-top-text">
            <p>Nodes</p>
          </div>
        </div>
        <div class="col-lg-6 text-right">
          <div class="slider-top-text">
            <a href="javascript:void(0);">See All</a>
          </div>
        </div>
      </div> -->

    <!-- <div class="row">
        <div class="col-lg-12">
          <div class="item p-2">
            <div class="card custom-card side-bar-card ">
              <div class="goal-img" *ngIf="!showSVG" id="root" draggable="true" (dragstart)="onDragStart($event)" style="cursor: pointer;">
                <img src="assets/img/tutorial-img.png" class="img-fluid" alt="">
                <p class="pt-2">Empty</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    <div class="row">
      <div class="col-lg-12">
        <div class="">
          <div id="accordion">
            <div class="card custom_accordion">
              <div class="card-header accordion_header_custom" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Nodes
                  </button>
                  <button class="btn btn-link see_all_btn" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    See All
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <div class="row mt-3">
                    <div class="col-lg-6">
                      <div class="card custom-card side-bar-card">
                        <div class="goal-img" *ngIf="!showSVG" id="root" draggable="true"
                          (dragstart)="onDragStart($event)" style="cursor: pointer;">
                          <img src="assets/img/tutorial-img.png" class="img-fluid" alt="">
                          <p class="pt-2">Empty</p>
                        </div>
                        <div class="goal-img" *ngIf="showSVG">
                          <img src="assets/img/tutorial-img.png" class="img-fluid" alt="" draggable="false">
                          <p class="pt-2">Goal</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="card custom-card side-bar-card ">
                        <div class="goal-img">
                          <img src="assets/img/tutorial-img.png" class="img-fluid" alt="" draggable="false">
                          <p class="pt-2">CSF</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-lg-6">
                      <div class="card custom-card side-bar-card ">
                        <div class="goal-img">
                          <img src="assets/img/tutorial-img.png" class="img-fluid" alt="" draggable="false">
                          <p class="pt-2">Phase</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="card custom-card side-bar-card ">
                        <div class="goal-img">
                          <img src="assets/img/tutorial-img.png" class="img-fluid" alt="" draggable="false">
                          <p class="pt-2">Segment</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="line-slide-bar"></div>

            <div class="card custom_accordion">
              <div class="card-header accordion_header_custom" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Measure
                  </button>
                  <button class="btn btn-link see_all_btn" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseOne">
                    See All
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body p-0">
                  <div class="row mt-3">
                    <div class="col-lg-6">
                      <div class="card custom-card side-bar-card ">
                        <div class="goal-img">
                          <img src="assets/img/tutorial-img.png" class="img-fluid" alt="" draggable="false">
                          <p class="pt-2">Measure 1</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="card custom-card side-bar-card ">
                        <div class="goal-img">
                          <img src="assets/img/tutorial-img.png" class="img-fluid" alt="" draggable="false">
                          <p class="pt-2">Measure 2</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="line-slide-bar"></div>

            <div class="card custom_accordion">
              <div class="card-header accordion_header_custom" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Metric
                  </button>
                  <button class="btn btn-link see_all_btn" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="true" aria-controls="collapseOne">
                    See All
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body p-0">
                  <div class="row mt-3">
                    <div class="col-lg-6">
                      <div class="card custom-card side-bar-card ">
                        <div class="goal-img">
                          <img src="assets/img/tutorial-img.png" class="img-fluid" alt="" draggable="false">
                          <p class="pt-2">Metric 1</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="card custom-card side-bar-card ">
                        <div class="goal-img">
                          <img src="assets/img/tutorial-img.png" class="img-fluid" alt="" draggable="false">
                          <p class="pt-2">Metric 2</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="line-slide-bar"></div>


  </nav>
  <button type="button" id="sidebarCollapse" class="btn btn-info cutom-toggle">
    <img src="assets/img/side-arrow-new-bar1.svg.png" alt="">
  </button>

  <!-- Page Content  -->
  <div id="content" class="karta-edit-contnet">

    <div class="karta-edit-header">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-3 pr-0">
              <div class="karta-name">
                <p [title]="karta?.name">{{karta?.name}}</p>
              </div>
            </div>
            <div class="col-lg-3 pl-0">
              <div class="select-karta-name">
                <select class="form-control custom-select-karta">
                  <option>Version 1.0</option>
                  <option>Version 1.2</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 p-0">
              <div class="time-select-karta">
                <span class="last-saved">Last Saved:</span><span> {{karta?.updatedAt | date:'medium'}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-4">
              <div class="select-karta-name">
                <select class="form-control custom-select-karta-mode">
                  <option>Editor Mode</option>
                  <option>Editor Mode Two</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 p-0">
              <div class="icon-karta">
                <a href="#" data-toggle="modal" data-target="#staticBackdrop"><img src="assets/img/share-icon.svg"></a>
                <a href="#"><img src="assets/img/download-icon.svg"></a>
                <div class="dropdown show">
                  <a class=" dropdown-toggle three-dots" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/export.svg">
                  </a>
                  <div class="dropdown-menu export" aria-labelledby="dropdownMenuLink">
                    <img src="assets/img/drop-arrow.svg" class="drop-arrow">

                    <a class="dropdown-item" href="#"><img src="assets/img/csv.svg" class="mr-2"> Export to CSV</a>
                    <a class="dropdown-item" href="#"><img src="assets/img/pdf.svg" class="mr-2"> Export to PDF</a>
                    <a class="dropdown-item" href="#"><img src="assets/img/img.svg" class="mr-2"> Export to Image</a>

                  </div>
                </div>

                <div class="dropdown filter-option m-0">
                  <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                    <img src="assets/img/filter.svg" class="">
                  </button>
                  <div class="dropdown-menu select-sec inventory" aria-labelledby="dropdownMenuButton">
                    <img src="assets/img/drop-arrow.svg" class="drop-arrow filter">

                    <div class="fillter-inner-white-box ">
                      <div class="row pb-3">
                        <div class="col-6">
                          <h6 class="pl-2 m-0 pt-1">All</h6>
                        </div>
                        <div class="col-6 text-right">
                          <div class="form-check custom-box mr-2">
                            <input type="radio" class="form-check-input" id="exampleCheck1">
                          </div>
                        </div>
                      </div>
                      <div class="row pb-3">
                        <div class="col-6">
                          <h6 class="pl-2 m-0 pt-1">Weekly</h6>
                        </div>
                        <div class="col-6 text-right">
                          <div class="form-check custom-box mr-2">
                            <input type="radio" class="form-check-input" id="exampleCheck1">
                          </div>
                        </div>
                      </div>
                      <div class="row pb-3">
                        <div class="col-6">
                          <h6 class="pl-2 m-0 pt-1">Monthly</h6>
                        </div>
                        <div class="col-6 text-right">
                          <div class="form-check custom-box mr-2">
                            <input type="radio" class="form-check-input" id="exampleCheck1">
                          </div>
                        </div>
                      </div>
                      <div class="row pb-3">
                        <div class="col-6">
                          <h6 class="pl-2 m-0 pt-1">Quarterly</h6>
                        </div>
                        <div class="col-6 text-right">
                          <div class="form-check custom-box mr-2">
                            <input type="radio" class="form-check-input" id="exampleCheck1">
                          </div>
                        </div>
                      </div>
                      <div class="row pb-3">
                        <div class="col-6">
                          <h6 class="pl-2 m-0 pt-1">Yearly</h6>
                        </div>
                        <div class="col-6 text-right">
                          <div class="form-check custom-box mr-2">
                            <input type="radio" class="form-check-input" id="exampleCheck1">
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="row ">
                        <div class="col-6">
                          <div class="clear-text pl-3">
                            <a href="">Clear</a>
                          </div>
                        </div>
                        <div class="col-6 text-right">
                          <button class="Apply-btn karta-edit ">Apply</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
            <div class="col-lg-4">
              <div class="save-setting-btn">
                <button type="button" class="save-btn-karta mr-1" (click)="saveKarta()">Save</button>

                <div class="dropdown filter-option m-0">
                  <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                    <a href="#"><img src="assets/img/settings.svg"></a>
                  </button>
                  <div class="dropdown-menu select-sec inventory" aria-labelledby="dropdownMenuButton">
                    <img src="assets/img/drop-arrow.svg" class="drop-arrow filter">

                    <div class="fillter-inner-white-box p-2">

                      <div class="row ">
                        <div class="col-6">
                          <div class="pl-1">
                            <p>Help Text</p>
                          </div>
                        </div>
                        <div class="col-6 text-right">
                          <div class="toggle-tab-karta-edit ">
                            <label class="switch" for="checkbox">
                              <input type="checkbox" id="checkbox">
                              <div class="slider round karta-edit"></div>
                            </label>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-lg-8">
                          <div class="pl-1">
                            <p>Color Settings</p>
                          </div>
                        </div>
                        <div class="col-lg-4 text-right">
                          <div class="plusbtn-karta">
                            <img src="assets/img/plus-btn.svg" class="img-fluid" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="color-box-plus-min mt-2 p-2">
                            <div class="row">
                              <div class="col-lg-6">
                                <h6>0-50%</h6>
                              </div>
                              <div class="col-lg-6 text-right">
                                <div class="float-right d-flex">
                                  <div class="color-box-two"></div>
                                  <div class="plus-minus"><img src="assets/img/minus.png"></div>
                                </div>
                              </div>
                            </div>
                            <div class="row mt-2">
                              <div class="col-lg-6">
                                <h6>51-99%</h6>
                              </div>
                              <div class="col-lg-6 text-right">
                                <div class="float-right d-flex">
                                  <div class="color-box-two"></div>
                                  <div class="plus-minus"><img src="assets/img/minus.png"></div>
                                </div>
                              </div>
                            </div>
                            <div class="row mt-2">
                              <div class="col-lg-6">
                                <h6>0-50%</h6>
                              </div>
                              <div class="col-lg-6 text-right">
                                <div class="float-right d-flex">
                                  <div class="color-box-two"></div>
                                  <div class="plus-minus"><img src="assets/img/minus.png"></div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>

                <a href="#"><img src="assets/img/information.svg"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-center-content d-flex">
      <div class="center-content mt-4 w-100">
        <div class="row tab-content-center">
          <div class="phase_column">
            <div class="vertical-tabs">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" *ngFor="let phase of phases; let i = index">
                  <a class="nav-link text-nowrap" [ngClass]="{ 'active': phase.id == phaseId }"
                    [id]="phase.id">{{phase?.name}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="karta_column">
            <div class="tab-pane active">
              <ng-container *ngIf="loadingKarta">
                <div class="p-5" [innerHtml]="loader"></div>
              </ng-container>
              <div id="karta-svg" [hidden]="!showSVG || loadingKarta"></div>
              <div *ngIf="!showSVG && !loadingKarta">
                <ng-container *ngFor="let phase of phases; let i = index">
                  <div class="align-items-center border d-block d-flex justify-content-end karta_dummy_lines pr-3" *ngIf="phase.name !== 'Target'"
                    [id]="'svg_line_' + phase?.id" (drop)="onDrop($event)" (dragover)="onDragOver($event)"
                    (dragleave)="onDragLeave($event)" (mouseover)="onMouseOverKartaLines($event)" (mouseleave)="onMouseLeaveKartaLines($event)">
                    <button class="btn btn-sm btn-light" (click)="addRoteNode($event)"><i class="fa fa-plus-circle"></i> Node</button>
                  </div>
                  <div class="d-block border karta_dummy_lines" *ngIf="phase.name === 'Target'" [id]="phase?.id">
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="zooming-section">

              <div class="row">
                <div class="col-3">
                  <a href="javascript:void(0);"><img src="assets/img/Undo.svg" class="img-fluid mr-1"></a>
                  <a href="javascript:void(0);"><img src="assets/img/Redo.svg" class="img-fluid ml-1"></a>
                </div>

                <div class="col-lg-6">
                  <div class="range-custom">
                    <input type="range" id="seek-slider" max="100" value="0">
                  </div>
                  <div class="range">%0</div>

                </div>
                <div class="col-lg-3">
                  <img src="assets/img/Add-Layer.svg" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="right-side-bar d-none" id="rightSidebar">
        <!-- <div class="test">
          <button type="button" id="sidebarCollapse" class="btn btn-info cutom-toggle">
            <img src="assets/img/side-arrow-new-bar1.svg.png" alt="">
          </button>
        </div> -->
        <div class="row">
          <div class="col-lg-12">
            <div class="goal-name mt-3">
              <h6>{{currentPhase?.name}}</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="search-sugg mt-3">
              <input type="text" class="form-control" [(ngModel)]="currentNodeName"
                (blur)="updateNode('name', currentNodeName)">
            </div>
          </div>
        </div>
        <!-- Weightage -->
        <ng-container *ngIf="phaseId !== '62b07978c389310e2c74f586' && phaseId !== '62b079b4c389310e2c74f58d'">
          <div class="row">
            <div class="col-lg-12">
              <div class="goal-name mt-3">
                <h6>Weightage</h6>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="search-sugg mt-3">
                <input type="number" class="form-control" [(ngModel)]="currentNodeWeight"
                  (blur)="updateNode('weightage', currentNodeWeight)">
              </div>
            </div>
          </div>
        </ng-container>
        <div class="row mt-4">
          <div class="col-lg-12">
            <div class="right-side-bar-content">
              <h5>Definition</h5>
              <p>{{suggestion?.definition}}</p>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-12">
            <div class="right-side-bar-content">
              <h5>Suggestions</h5>
              <div class="description_div">
                <ng-container *ngFor="let x of suggestion?.descriptions">
                  <p>{{x?.description}}</p>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <h5>Typography</h5>
          </div>
          <!-- <div class="col-lg-8">
          <div class="">
            <h5>Typography</h5>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="minus-btn-r-side text-right">
            <img src="assets/img/minus-r-side.svg" class="img-fluid" alt="">
          </div>
        </div> -->
        </div>
        <div class="row mt-4">
          <div class="col-lg-5">
            <h6 class="pt-2">Font Style</h6>
          </div>
          <div class="col-lg-7">
            <select class="form-control font-style" [(ngModel)]="selectedFont"
              (change)="updateNode('font_style', selectedFont)">
              <option value="system-ui">System-UI</option>
              <option value="sans-serif">Sans-Serif</option>
              <option value="monospace">Monospace</option>
            </select>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-5">
            <h6 class="pt-2">Alignment</h6>
          </div>
          <div class="col-lg-7">
            <div>
              <span>
                <a style="cursor: pointer;" (click)="updateNode('alignment', 'left')">
                  <img src="assets/img/left-align.svg" class="img-fluid mr-2 font_alignment_img"
                    [ngClass]="{'selected_alignment': selectedAlignment === 'left'}">
                </a>
              </span>
              <span>
                <a style="cursor: pointer;" (click)="updateNode('alignment', 'center')">
                  <img src="assets/img/center-align.svg" class="img-fluid font_alignment_img"
                    [ngClass]="{'selected_alignment': selectedAlignment === 'center'}">
                </a>
              </span>
              <span>
                <a style="cursor: pointer;" (click)="updateNode('alignment', 'right')">
                  <img src="assets/img/right-align.svg" class="img-fluid ml-2 font_alignment_img"
                    [ngClass]="{'selected_alignment': selectedAlignment === 'right'}">
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-5">
            <h6 class="pt-2">Text Color</h6>
          </div>
          <div class="col-lg-7">
            <div class="color-picker">
              <input type="color" id="colorpicker" value="#000000" [(ngModel)]="selectedColor"
                (change)="updateNode('text_color', selectedColor)">
            </div>
          </div>
        </div>

        <div *ngIf="showKPICalculation">
          <hr>
          <div class="row">
            <div class="col-lg-12">
              <h5>Type</h5>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-12">
              <select class="form-control type-select" [(ngModel)]="kpiType">
                <option value="measure">Measure</option>
                <option value="metrics">Metrics</option>
              </select>
            </div>
          </div>

          <!-- Measure div -->
          <div *ngIf="kpiType === 'measure' ">
            <div class="selct-option-side-r mt-2">
              <label>Due Date</label>
              <input type="date" class="form-control" [value]="currentNode.due_date"
                (change)="updateNode('due_date', $any($event.target).value)">
            </div>
            <ng-container *ngFor="let t of target; let i = index">
              <div class="row mt-3">
                <div class="col-lg-5 pr-0">
                  <div class="selct-option-side-r">
                    <label class="text-nowrap" style="margin-bottom: 6px;">Target Value</label>
                    <select class="form-control" [value]="t.frequency" (change)="setTarget('frequency', $event, i)">
                      <option value="weekly">Weekly</option>
                      <option value="monthly">Monthly</option>
                      <option value="quarterly">Quarterly</option>
                      <option value="Annually">Annually</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4 px-2">
                  <div class="custom-input-side-r">
                    <input type="number" class="form-control" [value]="t.value" (blur)="setTarget('value', $event, i)">
                  </div>
                </div>
                <div class="col-lg-3 d-flex px-2">
                  <ng-container *ngIf="target.length > 1">
                    <div class="add-btn-side-r" style="cursor: pointer;" (click)="removeTarget(i)">
                      <img src="assets/img/icons8-remove-30.png" id="delete_btn" class="img-fluid">
                    </div>
                  </ng-container>
                  <div class="add-btn-side-r" style="cursor: pointer;" (click)="addMoreTarget()">
                    <img src="assets/img/add-btn-side-r.svg" class="img-fluid">
                  </div>
                </div>
              </div>
            </ng-container>


            <div class="row mt-3">
              <div class="col-lg-12">
                <div class="form-group">
                  <label style="font-weight: 500;">Achieved Value</label>
                  <input type="text" class="form-control" [value]="currentNode?.achieved_value"
                    (blur)="updateAchievedValue($any($event.target).value)">
                </div>
              </div>
            </div>
            <hr>
            <div class="row mt-3">
              <div class="col-lg-12">
                <div class="selct-option-side-r">
                  <label>KPI Calculation Periods</label>
                  <select class="form-control" [value]="currentNode.kpi_calc_period"
                    (change)="updateNode('kpi_calc_period', $any($event.target).value)">
                    <option value="month-to-date">Month to date</option>
                    <option value="year-to-date">Year to date</option>
                    <option value="month-over-month">Month over month</option>
                    <option value="year-over-year">Year over year</option>
                    <option value="entire-history">Entire history</option>
                  </select>
                </div>
              </div>
            </div>
            <hr>
            <div class="row mt-3">
              <div class="col-lg-6">
                <h5>Contributor</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <ng-multiselect-dropdown
                    [(ngModel)]="selectedContributorUsers"
                    [placeholder]="'Select contributors'"
                    [settings]="dropdownSettings"
                    [data]="users"
                    (onSelect)="onItemSelect($event)"
                    (onDeSelect)="onItemDeSelect($event)">
                </ng-multiselect-dropdown>
              </div>
            </div>
          </div>
          <!--   Metrics div -->
          <div *ngIf="kpiType === 'metrics' ">
            <div class="row mt-3">
              <div class="col-lg-6">
                <div class="selct-option-side-r">
                  <label>Start Date</label>
                  <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="selct-option-side-r">
                  <label>Days to Calculate</label>
                  <select class="form-control ">
                    <option>Business Days</option>
                    <option>Lorem Ipsum</option>
                    <option>Lorem Ipsum</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-12">
                <h5>Fiscal year</h5>
                <div class="row mt-3">
                  <div class="col-lg-6">
                    <div class="selct-option-side-r">
                      <label>Start Date</label>
                      <input type="date" name="start_date" max="3000-12-31" min="1000-01-01" class="form-control">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="selct-option-side-r">
                      <label>End Date</label>
                      <input type="date" name="end_date" max="3000-12-31" min="1000-01-01" class="form-control">
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-5">
                <div class="selct-option-side-r">
                  <label>Target Value</label>
                  <select class="form-control ">
                    <option>Business Days</option>
                    <option>Lorem Ipsum</option>
                    <option>Lorem Ipsum</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="custom-input-side-r">
                  <div class="form-group ">
                    <input type="text" class="form-control" placeholder="">
                  </div>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="add-btn-side-r">
                  <img src="assets/img/add-btn-side-r.svg" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-12">
                <div class="selct-option-side-r">
                  <label>KPI Calculation Periods</label>
                  <select class="form-control ">
                    <option>Month to Date</option>
                    <option>Lorem Ipsum</option>
                    <option>Lorem Ipsum</option>
                  </select>
                </div>
              </div>
            </div>
            <hr>
            <div class="row mt-3">
              <div class="col-lg-8">
                <h5>Formula</h5>
              </div>
              <div class="col-lg-4">
                <div class="text-right">
                  <a href=""><img src="assets/img/q-mark.svg" class="img-fluid"></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="form-group ">
                  <label>Field 1</label>
                  <a href=""><img src="assets/img/edit-icon-side-r.svg" class="img-fluid edit-btn-r"></a>
                  <input type="email" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="custom-add-minus">
                  <a href=""><img src="assets/img/plus-field-side-r.svg" class="img-fluid mr-3"></a>
                  <a href=""><img src="assets/img/minus-field-side-r.svg" class="img-fluid"></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="form-group ">
                  <label>Field 2</label>
                  <a href=""><img src="assets/img/edit-icon-side-r.svg" class="img-fluid edit-btn-r"></a>
                  <input type="email" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="custom-add-minus">
                  <a href=""><img src="assets/img/plus-field-side-r.svg" class="img-fluid mr-3"></a>
                  <a href=""><img src="assets/img/minus-field-side-r.svg" class="img-fluid"></a>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-12">
                <img src="assets/img/tick-mark-side-r.svg" class="img-fluid tick-custom">
                <input type="email" class="form-control" placeholder="">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-12">
                <h5>= 220</h5>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-12">
                <div class="selct-option-side-r">
                  <label>Person to notify</label>
                  <select class="form-control ">
                    <option>KPI Owner</option>
                    <option>Lorem Ipsum</option>
                    <option>Lorem Ipsum</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-12">
                <h5>Alerts</h5>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-6">
                <div class="selct-option-side-r">
                  <label>Period</label>
                  <select class="form-control ">
                    <option>Weekly</option>
                    <option>Lorem Ipsum</option>
                    <option>Lorem Ipsum</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="selct-option-side-r">
                  <label>Type</label>
                  <select class="form-control ">
                    <option>Notify at login</option>
                    <option>Lorem Ipsum</option>
                    <option>Lorem Ipsum</option>
                  </select>
                </div>
              </div>
            </div>
            <hr>
            <div class="row mt-3">
              <div class="col-lg-6">
                <h5>Viewer Access</h5>
              </div>
              <div class="col-lg-6 text-right">
                <a href="" class="add-side-r-custom">+ ADD</a>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="custom-tag mt-3">
                  <input type="text" class="form-control p-4 w-100 border-0" data-role="tagsinput" />
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content p-4">
                <div class="modal-header">
                  <h5 class="modal-title pt-4" id="staticBackdropLabel">Share Link</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="share-link-model mt-3">
                    <form>
                      <div class="form-group">
                        <label>Revenue Karta</label>
                        <input type="text" class="form-control custom-input-share-link" placeholder="To:  Name, Email">
                        <div class="pencil-icon">
                          <a href=""><img src="assets/img/pencil.svg"></a>
                        </div>
                        <div class="dropdown share-to ">
                          <button class="btn btn-secondary dropdown-toggle arrow-hide-filter" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true">
                            <img src="assets/img/down-arrow.svg" width="15px">
                          </button>
                          <div class="dropdown-menu select-sec share-to-drop " aria-labelledby="dropdownMenuButton"
                            x-placement="bottom-start"
                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(351px, 50px, 0px);">
                            <div class="fillter-inner-white-box share-to-drop-list">
                              <div class="row pb-2">
                                <div class="col-12">
                                  <h6 class="pl-2 m-0 pt-1"><img src="assets/img/delete-karta.svg"> Edit Karta</h6>
                                </div>
                              </div>
                            </div>
                            <div class="fillter-inner-white-box share-to-drop-list">
                              <div class="row pb-2">
                                <div class="col-12">
                                  <h6 class="pl-2 m-0 pt-1"><img src="assets/img/view-karta.svg"> View Karta</h6>
                                </div>
                              </div>
                            </div>
                            <div class="fillter-inner-white-box share-to-drop-list">
                              <div class="row pb-2">
                                <div class="col-12">
                                  <h6 class="pl-2 m-0 pt-1"><img src="assets/img/delete-karta.svg"> Edit Value</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group mt-4">
                        <label>Message...</label>
                        <textarea class="form-control custom-text-area" rows="2"></textarea>
                      </div>
                      <div class="">
                        <button class="send-btn">SEND</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 text-left">
                    <div class="shared-with">
                      <span>Shared with:</span>
                      <span class="ml-3"><a href="#"><img src="assets/img/link-.svg"></a></span>
                      <span class="ml-2"><a href="#"><img src="assets/img/user-icon.svg"></a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>