<app-header></app-header>
<app-sidebar></app-sidebar>

<!-- main-section -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="page-heading">
          <h4 class="pt-3">MEMBERS</h4>
        </div>
      </div>
      <div class="col-lg-6 text-right">
        <button
          class="karta-btn mt-2"
          data-toggle="modal"
          data-target="#memberModal"
          (click)="setFormType('Invite')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-person-plus-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
            />
            <path
              fill-rule="evenodd"
              d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"
            />
          </svg>
          Invite
        </button>
      </div>
    </div>
    <div class="karta-setip-white-table-box">
      <div class="row">
        <div class="col-lg-12">
          <div class="member-table">
            <table class="table">
              <thead class="border-thead">
                <tr>
                  <th>Full Name</th>
                  <th>Email ID</th>
                  <th>Department</th>
                  <th>Licence</th>
                  <th>Date added</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="border-0">
                <tr *ngFor="let user of usersData">
                  <td>{{user.fullName}}</td>
                  <td>{{user.email}}</td>
                  <td>Sales</td>
                  <td>Creator</td>
                  <td>{{user.createdAt | date}}</td>
                  <td>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-pencil-fill"
                      viewBox="0 0 16 16"
                      data-toggle="modal"
                      data-target="#staticBackdrop"
                      (click)="setFormType('Update', user)"
                    >
                      <path
                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                      />
                    </svg>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- add -member-Modal -->
  <div
    class="modal fade"
    id="memberModal"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content p-4">
        <div class="modal-header">
          <h5 class="modal-title pt-4" id="staticBackdropLabel">
            {{checkFormType}} {{checkFormType == 'Invite' ? 'New' : null}} Member
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="share-link-model mt-3">
            <form [formGroup]="inviteGroup">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Full Name <span class="text-danger">*</span></label>
                    <input
                      type="text"
                      class="form-control custom-input-share-link"
                      placeholder="Enter Full Name"
                      formControlName="fullName"
                      [ngClass]="{ 'is-invalid': inviteGroup.get('fullName').invalid && (inviteGroup.get('fullName').dirty || inviteGroup.get('fullName').touched)}"
                    />
                    <!-- <div class="invalid-feedback d-block"
                        *ngIf="inviteGroup.get('fullName').invalid && (inviteGroup.get('fullName').dirty || inviteGroup.get('fullName').touched)">
                        Please enter Name!</div> -->
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Email <span class="text-danger">*</span></label>
                    <input
                      type="email"
                      class="form-control custom-input-share-link"
                      placeholder="Enter Email"
                      formControlName="email"
                      [ngClass]="{ 'is-invalid': inviteGroup.get('email').invalid && (inviteGroup.get('email').dirty || inviteGroup.get('email').touched)}"
                    />
                    <!-- <div class="invalid-feedback d-block"
                        *ngIf="inviteGroup.get('email').errors.required && (inviteGroup.get('email').dirty || inviteGroup.get('email').touched)">
                        Please enter Email!</div> -->
                    <!-- <div *ngIf="inviteGroup.get('email').errors.pattern && (inviteGroup.get('email').dirty || inviteGroup.get('email').touched)">Enter a valid email address!</div> -->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="mobile">Mobile Number <span class="text-danger">*</span></label>
                    <ngx-intl-tel-input [preferredCountries]="preferredCountries"
                    [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                    [selectedCountryISO]="CountryISO.UnitedStates" [maxLength]=15 class="ngx_phone_number"
                    [phoneValidation]="true" [separateDialCode]="separateDialCode"
                    [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="mobile"
                    [ngClass]="{ 'is-invalid': inviteGroup.get('mobile').invalid && (inviteGroup.get('mobile').dirty || inviteGroup.get('mobile').touched)}">
                    </ngx-intl-tel-input>
                    <!-- <div class="invalid-feedback d-block"
                        *ngIf="inviteGroup.get('mobile').invalid && (inviteGroup.get('mobile').dirty || inviteGroup.get('mobile').touched)">
                        Please enter Mobile!</div> -->
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Select License</label>
                    <select class="form-control custom-select-option" formControlName="license" [ngClass]="{ 'is-invalid': inviteGroup.get('license').invalid && (inviteGroup.get('license').dirty || inviteGroup.get('license').touched)}">
                      <option value="" selected disabled hidden>Select License</option>
                      <option *ngFor="let license of licenseData" [value]="license.id">{{license.name}}</option>
                    </select>
                    <!-- <div class="invalid-feedback d-block"
                        *ngIf="inviteGroup.get('license').invalid && (inviteGroup.get('license').dirty || inviteGroup.get('license').touched)">
                        Please select a License!</div> -->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Select Role <span class="text-danger">*</span></label>
                    <select class="form-control custom-select-option" (change)="handleDepartment($event)" formControlName="role" [ngClass]="{ 'is-invalid': inviteGroup.get('role').invalid && (inviteGroup.get('role').dirty || inviteGroup.get('role').touched)}">
                      <option value="" selected disabled hidden>Select Role</option>
                      <option *ngFor="let role of rolesData" [value]="role.id">{{role.name | titlecase}}</option>
                    </select>
                    <!-- <div class="invalid-feedback d-block"
                        *ngIf="inviteGroup.get('role').invalid && (inviteGroup.get('role').dirty || inviteGroup.get('role').touched)">
                        Please select a Role!</div> -->
                  </div>
                </div>
                <div class="col-lg-6" [hidden]="hideDepartment">
                  <div class="form-group">
                    <label>Select Department <span class="text-danger">*</span></label>
                    <select class="form-control custom-select-option" formControlName="department">
                      <option value="" selected disabled hidden>Select Department</option>
                      <option *ngFor="let department of departmentsData" [value]="department.id">{{department.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-lg-6 text-left">
                  <div class="">
                    <button type="button" class="send-btn" (click)="sendInvite()">{{checkFormType == 'Invite' ? 'CREATE' : 'UPDATE'}}</button>
                  </div>
                </div>
                <!-- <div class="col-lg-6 text-right">
                  <div class="">
                    <button class="send-btn">CREDENTIALS</button>
                  </div>
                </div> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
