<aside id="mySidebar" class="sidebar">
    <ul>
        <li>
            <a [routerLink]="['/dashboard']" routerLinkActive="active">
                <span><img src="assets/img/home.png" alt="" /></span>
                Home
            </a>
        </li>
        <li>
            <a [routerLink]="['/karta/all']" routerLinkActive="active">
                <span><img src="assets/img/kartas.png" alt="" /></span>
                Kartas
            </a>
        </li>
        <li>
            <a [routerLink]="['/my-kpi']" routerLinkActive="active">
                <span><img src="assets/img/mykpi.png" alt="" /></span>
                My KPIs
            </a>
        </li>
        <li *ngIf="_commonService.getUserLicense() === 'Creator' && _commonService.getUserRole() !== 'billing_staff'">
            <a [routerLink]="['/inventory']" routerLinkActive="active">
                <span><img src="assets/img/catalogs.png" alt="" /></span>
                Inventory
            </a>
        </li>
        <li>
            <a [routerLink]="['/marketplace']" routerLinkActive="active">
                <span><img src="assets/img/market_place.png" alt="" /></span>
                Market Place
            </a>
        </li>
        <li *ngIf="_commonService.getUserRole() !== 'user' && !_commonService.getUserMasterStatus()">
            <a [routerLink]="['/members']" routerLinkActive="active">
                <span><img src="assets/img/members.png" alt="" /></span>
                Members
            </a>
        </li>
    </ul>
</aside>