<aside id="sidebar" class="sidebar">
    <ul>
        <li>
            <a [routerLink]="['/my-plan']" routerLinkActive="active">
                <span><img src="assets/img/home.png" alt="" /></span>
                Home
            </a>
        </li>
        <li>
            <a [routerLink]="['/catalogs']" routerLinkActive="active">
                <span><img src="assets/img/catalogs.png" alt="" /></span>
                Catalogs
            </a>
        <li>
            <a [routerLink]="['/kartas']" routerLinkActive="active">
                <span><img src="assets/img/kartas.png" alt="" /></span>
                Kartas
            </a>
        </li>
        <li>
            <a [routerLink]="['/inventory']" routerLinkActive="active">
                <span><img src="assets/img/inventory.png" alt="" /></span>
                Inventory
            </a>
        </li>
        <li>
            <a [routerLink]="['/my-kpi']" routerLinkActive="active">
                <span><img src="assets/img/mykpi.png" alt="" /></span>
                My KPI
            </a>
        </li>
        <li>
            <a [routerLink]="['/settings']" routerLinkActive="active">
                <span><img src="assets/img/settings.png" alt="" /></span>
                Settings
            </a>
        </li>
    </ul>
</aside>