<aside id="sidebar" class="sidebar">
    <ul>
        <li>
            <a [routerLink]="['/my-plan']">
                <span><img src="assets/img/home.png" alt="" /></span>
                Home
            </a>
        </li>
        <li>
            <a [routerLink]="['/catalogs']">
                <span><img src="assets/img/catalogs.png" alt="" /></span>
                Catalogs
            </a>
        <li>
            <a [routerLink]="['/kartas']">
                <span><img src="assets/img/kartas.png" alt="" /></span>
                Kartas
            </a>
        </li>
        <li>
            <a [routerLink]="['/inventory']">
                <span><img src="assets/img/inventory.png" alt="" /></span>
                Inventory
            </a>
        </li>
        <li>
            <a [routerLink]="['/my-kpi']">
                <span><img src="assets/img/mykpi.png" alt="" /></span>
                My KPI
            </a>
        </li>
        <li>
            <a [routerLink]="['/settings']">
                <span><img src="assets/img/settings.png" alt="" /></span>
                Settings
            </a>
        </li>
    </ul>
</aside>