<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main-content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-10 col-md-10">
            <div class="page-heading">
               <h4 class="pt-3">History</h4>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12 col-md-12">
            <div class="d-flex justify-content-end">
                <div class="mb-2">
                    <select class="form-select cus-select" (change)="onSortByYear($event)">
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                    </select>
                </div>
               <div class="close-data"><a class="cursor_pointer" (click)="hideHistory()"><img src="assets/img/close.svg" alt=""/></a></div>
            </div>
         </div>
         <div class="col-lg-12 col-md-12 mb-2" *ngFor="let kpi of kpis">
            <div class="table-responsive bg-white w-auto">
               <table class="table mb-0" width="100%" border="1" cellpadding="1" align="center" style="border-color: #dee2e6">
                  <tbody>
                    <tr>
                        <th><span><img src="assets/img/ads.svg" alt=""/></span> {{ kpi?.name }}</th>
                        <th>&nbsp;</th>
                        <th *ngFor="let node of kpi?.nodes; let i=index">
                            {{ months[i].shortName }}
                        </th>
                     </tr>
                     <tr>
                        <td><span><img src="assets/img/team.svg" alt=""/></span> {{ kpi?.karta?.name }}</td>
                        <td class="target">Target</td>
                        <td *ngFor="let node of kpi?.nodes">
                            {{ node?.target?.event_options?.updated?.target[0].value || 'N/A'}}
                        </td>
                     </tr>
                     <tr>
                        <td><span><img src="assets/img/User.svg" alt=""/></span> {{ kpi.karta?.user?.fullName }}</td>
                        <td class="bg-green">Actual</td>
                        <td *ngFor="let node of kpi?.nodes">
                            {{ node?.achieved?.event_options?.updated?.achieved_value || 'N/A'}}
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="col-md-12">
            <ng-container *ngIf="loading">
                <div [innerHtml]="loader"></div>
              </ng-container>
              <ng-container *ngIf="!loading && kpis.length === 0">
                <div [innerHtml]="noDataAvailable"></div>
              </ng-container>
         </div>
      </div>
   </div>
</div>