.max_width_500 {
	max-width: 500px;
}
.min_max_width {
    min-width: 100px;
    max-width: 100px;
}

.short_text_metrics_formula{
    font-style: italic;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.short_text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.line_height_1_3 {
    line-height: 1.3;
}

table td, table th {
    border: 1px solid #dee2e6 !important;
}