/* You can add global styles to this file, and also import other style files */

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";


.navbar_logo {
    min-width: 250px;
    min-height: 57px;
    max-width: 250px;
    max-height: 57px;
}

.login_profile {
    min-width: 50px;
    min-height: 48px;
    max-width: 50px;
    max-height: 48px;
}

.disableDiv {
    opacity: 0.2;
    cursor: not-allowed;
    pointer-events: none;
}

.next-btn:hover,
.next-btn:active,
.next-btn:focus,
.next-btn:disabled {
    background-color: #5186c2 !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}



// D3 Styles
.node {
    cursor: pointer;
}

.node-text {
    font: 10px sans-serif;
    fill: #fff;
    margin: auto;
    margin-top: 12px;
    width: auto;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s ease-out;
    padding-left: 5px;
    padding-right: 5px;
}

.link {
    fill: none;
}

#karta-svg svg {
    min-width: 500px;
    min-height: 500px;
    background: white;
}

#karta-svg {
    overflow: auto;
    resize: both;
}

#karta-svg:focus {
    outline: none;
}

#karta-svg .mindmap-node--editable {
    cursor: all-scroll;
}

#karta-svg .mindmap-node--editable a {
    pointer-events: none;
}

#karta-svg .mindmap-subnode-group {
    align-items: center;
    border-left: 4px solid #6a6a6a;
    display: flex;
    margin-left: 15px;
    padding: 5px;
}

#karta-svg .mindmap-subnode-group a {
    color: #212121;
    font-family: "Raleway";
    font-size: 16px;
    padding: 2px 5px;
}

#karta-svg .mindmap-emoji {
    height: 24px;
    vertical-align: bottom;
    width: 24px;
}

#karta-svg .mindmap-emoji {
    height: 24px;
    vertical-align: bottom;
    width: 24px;
}

.mindmap-node .node-body {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: rgb(0 0 0 / 20%) 0px 0.5px 3px -1px, rgb(0 0 0 / 15%) 0px 5px 30px -10px;
    min-height: 40px;
    min-width: 100px;
    margin-top: 20px;
}

.mindmap-node .node-body .options {
    display: none;
    position: absolute;
    right: 17px;
}

.mindmap-node .node-body .options .option {
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
    color: darkgray;
    margin-top: -25px;
}

.mindmap-node .node-body .options .option .fa {
    border-radius: 100%;
    background-color: rgb(240, 241, 242);
    color: rgb(138, 148, 153);
}

.mindmap-node .node-body .options .option:hover .add-item {
    color: #19bb19;
}

.mindmap-node .node-body .options .option:hover .remove-item {
    color: #666565;
}

.mindmap-node .node-body .options .option:hover .toggle-item {
    color: #ee6969;
}

.mindmap-node:hover .node-body {
    background-color: #eef;
}

.mindmap-node:hover .node-body .options {
    display: flex;
}

.mindmap-node {
    overflow: auto;
}

.mindmap-node a {
    color: #212121;
    display: inline-block;
    font-size: 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.mindmap-node:hover {
    cursor: pointer;
}


.overlay {
    background-color: #EEE;
}

.templink {
    /* fill: none; */
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show {
    display: block;
}