/* You can add global styles to this file, and also import other style files */

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
@import "~@ng-select/ng-select/themes/default.theme.css";

textarea {
	resize: none;
}

.navbar_logo {
	min-width: 250px;
	max-width: 250px;
}

.user_profile_img {
	min-width: 50px;
	min-height: 48px;
	max-width: 50px;
	max-height: 48px;
}

.disableDiv {
	opacity: 0.2;
	cursor: not-allowed;
	pointer-events: none;
}

.next-btn:hover,
.next-btn:active,
.next-btn:focus,
.next-btn:disabled {
	background-color: #5186c2 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.font_weight_500 {
	font-weight: 500;
}

.cursor_default {
	cursor: default;
}

.cursor_pointer {
	cursor: pointer;
}

.line_height_1_3 {
	line-height: 1.3;
}

.phone_error {
	color: #dc3545;
}

@-moz-document url-prefix() {
	.line_height_1_3 {
		line-height: 1.5;
	}
}

.rename_label_width {
	min-width: 100px;
}

.short_text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.max_width_500 {
	max-width: 500px;
}

.max_width_200 {
	max-width: 200px;
}

.view_more {
	cursor: pointer;
	color: #007bff;
}

.my_suggestions .btn_sty_1 {
	padding: 8px 30px;
}

.table_btn_status {
	border-radius: 2px;
	display: block;
	color: #fff;
	text-align: center;
}

#launcher-frame {
	left: 0 !important;
}
#freshworks-frame-wrapper {
	left: 20px !important;
} 


// D3 Styles
.node {
	cursor: pointer;
}

.node-text {
	font: 10px sans-serif;
	fill: #fff;
	margin: auto;
	margin-top: 12px;
	width: auto;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.2s, color 0.2s ease-out;
	padding-left: 5px;
	padding-right: 5px;

	p {
		line-height: normal;
		font-size: 12px !important;
	}
}

.link {
	fill: none;
}

#karta-svg {
	overflow-x: auto;
	overflow-y: hidden;
	resize: both;
	scrollbar-width: thin;

	svg {
		// min-width: 500px;
		// min-height: 500px;
		background: white;
	}
}

#karta-svg:focus {
	outline: none;
}

#karta-svg .mindmap-node--editable {
	cursor: all-scroll;
}

#karta-svg .mindmap-node--editable a {
	pointer-events: none;
}

#karta-svg .mindmap-subnode-group {
	align-items: center;
	border-left: 4px solid #6a6a6a;
	display: flex;
	margin-left: 15px;
	padding: 5px;
}

#karta-svg .mindmap-subnode-group a {
	color: #212121;
	font-family: "Raleway";
	font-size: 16px;
	padding: 2px 5px;
}

.mindmap-node .node_body_disable {
	pointer-events: none;
}

.mindmap-node {
	.node-body {
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 10px;
		box-shadow: rgb(0 0 0 / 20%) 0px 0.5px 3px -1px, rgb(0 0 0 / 15%) 0px 5px 30px -10px;
		width: 65px;
		margin-top: 18px;
	}

	.left-options {
		top: 20px;
		left: 0;
		position: absolute;
	}

	.center-options {
		position: absolute;
		top: 0;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.right-options {
		top: 20px;
		right: 0;
		position: absolute;
	}
}

.nodePercentage {
	background: #8a8282;
	border-radius: 5px;
	padding: 2.5px 2.5px;
	color: white;
	position: absolute;
	left: 50%;
	cursor: default;
	bottom: 0;
	transform: translateX(-50%);
}

// .mindmap-node:hover .center-options{
//     display: flex;
// }

.mindmap-node .center-options .add-item i,
.mindmap-node .center-options .remove-item i,
.mindmap-node .center-options .toggle-item i {
	visibility: hidden;
}

.mindmap-node #nodeItem.hasChildren .center-options .toggle-item i[class*="fa-chevron-circle-down"] {
	visibility: visible;
}

.mindmap-node:hover .center-options .add-item i,
.mindmap-node:hover .center-options .remove-item i,
.mindmap-node:hover .center-options .toggle-item i {
	visibility: visible;
}

.mindmap-node:hover .left-options,
.mindmap-node:hover .right-options {
	display: block;
}

.mindmap-node .left-options,
.mindmap-node .right-options {
	display: none;
}

.mindmap-node .center-options .option {
	cursor: pointer;
	font-size: 14px;
	margin-right: 5px;
	color: darkgray;
}

.mindmap-node .left-options .option,
.mindmap-node .right-options .option {
	cursor: pointer;
	font-size: 14px;
	color: darkgray;
}

.mindmap-node .node-body .options .option .fa {
	border-radius: 100%;
	background-color: rgb(240, 241, 242);
	color: rgb(138, 148, 153);
}

.mindmap-node .node-body .options .option:hover .add-item {
	color: #19bb19;
}

.mindmap-node .node-body .options .option:hover .remove-item {
	color: #666565;
}

.mindmap-node .node-body .options .option:hover .toggle-item {
	color: #ee6969;
}

.mindmap-node:hover .node-body {
	background-color: #eef;
}

.mindmap-node {
	overflow: auto;
}

.mindmap-node a {
	color: #212121;
	display: inline-block;
	font-size: 10px;
	margin: 10px;
	padding: 5px;
	text-align: center;
}

.mindmap-node:hover {
	cursor: pointer;
}


.overlay {
	background-color: #EEE;
}

.templink {
	fill: none;
	stroke: red;
	stroke-width: 3px;
}

.ghostCircle.show {
	display: block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.mindmap-node .center-options {
		position: fixed;
	}
}

// .introjs-tooltip {
//     border-radius: 50% !important;
//     background-color: red !important;
// }

.introjs-overlay{
    background-color: rgba(0,0,0,0.4) !important;
    opacity: 0.4 !important;
}