<section id="common_sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="logo">
          <a [routerLink]="['/']"><img src="assets/img/kpi-karta-logo.png" width="280" height="65" alt="" /></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mng_col">
          <div class="login_form">
            <h2 class="text-white text-center pb-2">Reset Your Password</h2>
            <p class="text-white text-center mb-5">Strong passwords include numbers, letters, and punctuation marks.</p>

            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="newPassword">Enter new password :</label>
                <input type="password" autocomplete="new-password" class="form-control form-control1" id="newPassword" formControlName="newPassword" [maxlength]="32"
                  [ngClass]="{ 'is-invalid': (submitted || form.newPassword.touched) && form.newPassword.errors }">
                <div *ngIf="(submitted || form.newPassword.touched) && form.newPassword.errors" class="invalid-feedback">
                  <div *ngIf="form.newPassword.errors.required">New password is required!</div>
                  <div *ngIf="form.newPassword.errors.pattern">Password should contain atleast 1 number, 1 lowercase, 1
                    uppercase, 1 special character and must of 8 digits.
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="confirmPassword">Confirm new password :</label>
                <input type="password" class="form-control form-control1" autocomplete="new-password" id="confirmPassword" formControlName="confirmPassword" [maxlength]="32"
                  [ngClass]="{ 'is-invalid': (submitted || form.confirmPassword.touched) && form.confirmPassword.errors }">
                <div *ngIf="(submitted || form.confirmPassword.touched) && form.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="form.confirmPassword.errors.required">Confirm password is required!</div>
                  <div *ngIf="form.confirmPassword.errors.pattern">Password should contain atleast 1 number, 1
                    lowercase, 1 uppercase, 1 special character and must of 8 digits.
                  </div>
                </div>
              </div>

              <button class="btn btn-light btn_default mb-3 mt-2" [disabled]="submitFlag">
                <div class="spinner-border text-light align-top" role="status" *ngIf="submitFlag">
                  <span class="sr-only">Loading...</span>
                </div>
                <ng-container *ngIf="!submitFlag">RESET PASSWORD</ng-container>
              </button>
            </form>
            <div class="text-white text-center">
              <p class="text-white">Back To
                <a [routerLink]="['/login']" class="text-white"><strong>Login</strong></a>
              </p>
            </div>
            <app-footer></app-footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>